[2016-02-02 18:23] sylvain-hamel opened #1 "A bit of early feedback on ComponentTester"
I tried `ComponentTester`, it's looking great. I have a bit of feedback:

- The `bootstrap()` method  should return `this`. usage:

[code]

- I feel like most people will have to call `aurelia.use.standardConfiguration();` in their `bootstrap()` callback. I suggest adding a new method `setupContainer()` so that we can use this instead:

[code]

- In order to assert correct component behavior, it i

[2016-02-02 19:00] EisenbergEffect commented on #1
Great feedback. What is in the repo now is basically just an "idea" implementation. We've got a bunch more we need to do on it. This will help us in refining the API. Thanks!

[2016-02-02 19:39] sylvain-hamel commented on #1
More feedback:
- in order to assert the state of the DOM I have to use `setTimeout` in my `assert` (because of the way aurelia uses the `TaskQueue` which is processed later than the `then`s of `Promises`. A _thenable_ `ready` would be useful:

[code]

I don't like how this chains but you get the idea...

[2016-02-02 20:09] EisenbergEffect commented on #1
It's not done yet, so that's not how it would work. See our latest blog post for a sample of the api we are thinking about: http://blog.durandal.io/2016/02/01/big-february-status-update/

[2016-02-03 15:17] sylvain-hamel commented on #1
More feedback
- `withResources()` could also support constructor(s) (instead of strings). This way the tests can import the type(s) and load them from the types themselves.

[code]

until then I use:

[code]

[2016-02-03 15:47] EisenbergEffect commented on #1
Maybe...it's a bit tricky because the Origin can be somewhat unreliable depending on how yo import the module. We could implement basically what you have above...it should work most of the time, but there could be times when it wouldn't work.

[2016-02-03 20:24] sylvain-hamel commented on #1
More feedback

I ran onto a timing issue. The element I wanted to test has a dependency on `Show` (`show.bind`). Running the test gave an error about DI not being able to satisfy  `Show`'s dependency on `element`.

Under normal use in a real app, the `<script>` in `index.html` makes it so that `aurelia.run()` is executed before all the imports are loaded and that's where `aurelia-pal-browser` is i

[2016-02-26 17:38] sylvain-hamel commented on #1
@EisenbergEffect I just want to let you know that we have written several unit tests with `ComponentTester` and it works pretty well. I don't think there is much more to do to make a first release.

We extended `ComponentTester` to simplify the api and make it easy to pass in mocks. A typical integrated unit test now looks like this:

[code]

Let me know if you want any help to release something b

[2016-02-26 17:42] EisenbergEffect commented on #1
Did you introduce jQuery?

[2016-02-26 17:47] sylvain-hamel commented on #1
@EisenbergEffect only in my extension (`MyComponentTester`) and only in order to expose `$el`.

so instead of

[code]

we can write

[code]

I'd keep this in my own subclass not in `ComponentTester` itself

[2016-02-26 17:53] sylvain-hamel commented on #1
I have also started working on aurelia specific matchers such as

[code]

where `toBeVisible()` checks for the presence of the `aurelia-hide` class in addition to looking if the element is `:visible` or if it is non-existent (as it is the case when using `if.bind`).

[2016-02-26 17:57] EisenbergEffect commented on #1
That sounds very interesting. Let's get our basics in place and then maybe we can consider adding some things like that too. It sounds very convenient and we really want to make it easy for developers to test components (without having to do full e2e testing).

[2016-03-21 19:07] doktordirk commented on #1
@EisenbergEffect is there any timeline. seems rather helpful as it is already (though was a bit tricky to get it going without much of a guideline here :smile: )

[2016-03-21 19:34] EisenbergEffect commented on #1
It needs some significant work. What's here is mostly just a "reminder". We don't have anyone dedicated to working on it right now. I think @jdanyow had some ideas. He may be freed up to work on it soon. He's working on an alternative workflow using RequireJS right now. The whole JSPM/SystemJS issue has taken precedence.

[2016-03-21 19:35] doktordirk commented on #1
uch, right. i agree. tx for now

[2016-04-26 14:41] axwalker commented on #1
The sample API from the Aurelia blog looks great. Is there any progress on this - or anything we can get involved/help with?

@sylvain-hamel do you have a version with your changes that you're able to share?

[2016-04-26 14:45] EisenbergEffect commented on #1
We'd be glad to have your help. @martingust I think you were looking into working on this for use with the ui-virtualization. Maybe we can get @axwalker helping on this effort?

[2016-04-26 17:00] sylvain-hamel commented on #1
@axwalker I'll have something to share very soon (a PR and a blog post).

[2016-05-05 18:39] MrHayato opened #4 "Webpack support"
Our team brought in aurelia-testing to do unit testing, but because aurelia-bootstrapper is a dependency, it's being brought into our webpack project, which is causing some console warnings:

[code]
[code]

We've had to extend `ComponentTester` to work with webpack as well, with something along the lines of:

[code]

[2016-05-05 19:30] EisenbergEffect commented on #4
Hmmm. This is an interesting issue. @martingust Any ideas how we might solve it. Maybe we can get rid of bootstrapper and just use the Aurelia instance directly? We just need to ensure that polyfills and loader are properly configured. That's basically what the bootstrapper is needed for.

[2016-05-12 14:13] AStoker opened #5 "Testing of two-way bindings in Custom Element"
## Help Wanted
I'm trying to test the view of my custom element, but am having some difficulty.
I'm at the stage of trying to ensure that values entered in the View are being reflected in the View Model. It seems, however, that I cannot get the timing right, since the view model does not update when the view is updated (there are some operations in the task queue I believe that need to happen in o

[2016-05-12 14:15] AStoker commented on #5
Might be that I should try and use Aurelia's micro task queue? Seems a bit overkill perhaps, and if not, I'm not sure how I'd get the correct instance of the task queue inside a test.

[2016-05-12 14:19] EisenbergEffect commented on #5
@AStoker Have you used the latest release of the testing library? Here's a blog post with some details: http://blog.durandal.io/2016/05/03/aurelias-new-validation-and-testing-capabilities/

[2016-05-12 14:22] AStoker commented on #5
I saw that and was extremely pleased with what was added! However, it didn't seem to cover the case of testing changes in data, which is what I'm trying to test. It seems like it does lifecycle callbacks well, and initial binding well. But the post didn't mention how to test cases of when the data changes live, and I couldn't find much inside the testing repo either regarding this.
Maybe I'm going

[2016-05-12 14:23] EisenbergEffect commented on #5
@martingust What are your thoughts? Is this a missing feature/scenario we should address with the library?

[2016-05-12 14:24] EisenbergEffect commented on #5
@jdandyow Feel free to chime in as well.

[2016-05-12 14:27] AStoker commented on #5
^^ @jdanyow?

[2016-05-12 15:36] martingust commented on #5
@AStoker I have not done any testing from view to viewModel, but I'm surprised it doesn't work, will need to look into that. Does you view update if you print out the value? Like if you use a markup like this:

`.inView('${queryString}<search-bar query.two-way="queryString" filters.bind="filters" ></search-bar>')`

[2016-05-12 15:42] AStoker commented on #5
The view doesn't update in that way, no. What does update is one of the input values in the custom element, but that's to be expected since we're updating that with jQuery. Neither the view model, or the binding in the view are updated.

[2016-05-12 20:34] AStoker opened #6 "Testing with manually added Container instances"
I have 2 instances of an api client that I manually register in the `main.js` of my application (they are essentially the same api, but with a different root for the routing of requests).
[code]
This is all fine and dandy in the application. And in one of my custom elements, during the `created` callback, a request is made to an api class (this api class being called injects those two api clients

[2016-05-12 20:38] EisenbergEffect commented on #6
Can you share some of your test code?

[2016-05-12 20:43] AStoker commented on #6
The test suite in question:

[code]

[code]

[2016-05-12 20:47] AStoker commented on #6
Inside the calling code where the problem is starting is here, inside the custom element being tested

[code]

[2016-05-12 20:54] EisenbergEffect commented on #6
@martingust Can you instruct @AStoker how to access the container that is used by the component staging framework?

[2016-05-12 20:56] AStoker commented on #6
Sorry I have all kinds of questions regarding the testing framework today! Heavy tests are what we used to have before switching to Aurelia, and so we've finally gotten some time to get started on it, and there are just a lot of things that are still unknown (and I also know it's still in development). I appreciate y'alls help.

[2016-05-12 21:03] EisenbergEffect commented on #6
No need to apologize. This will help us refine things. I'm fairly certain you can gain access to the container. Martin can clarify. It it's not possible, we can probably add it quickly and get it into a release next week.

[2016-05-12 21:03] EisenbergEffect commented on #6
Assuming, the container issue were solved, how do you like the new testing helper?

[2016-05-12 21:05] AStoker commented on #6
I'm enjoying it. It makes it real simple to get started. I was pleased that I could start writing tests right out of the box with it, and without any headaches (one of those few times things just worked the first time). We're still diving into it, so I'm sure we'll find some more advanced cases, but right now, I'd give it a thumbs up.

[2016-05-12 21:06] AStoker commented on #6
We'll begin testing our other modules of code later this week, and those aren't custom elements, but rather modules that are routed to. It might fall under E2E testing, but we'd like to be able to test each module with it's view individually. Not sure if the testing helper can accomplish that yet, as I imagine there'd be some more in depth setup with dependencies and such.

[2016-05-16 17:00] jdanyow commented on #5
@AStoker, assuming `.query` is an input element:

[code]

The binding system is observing input elements by listening for "change" and "input" events.  When you change the value programatically the DOM doesn't fire these events so the binding system doesn't know the input changed.

For folks that aren't using JQuery:

[code]

https://github.com/aurelia/binding/blob/master/test/checked-observer.spe

[2016-05-16 18:23] AStoker commented on #5
@jdanyow, unfortunately using jQuery didn't work, triggering the change did nothing to help the queryString change in the view model.
However, trying your approach of using `aurelia-pal` DOM to create a custom event did seem to work.
So end result, I have the test passing, but using the jQuery 'change' event doesn't work.
Not sure if this is due to something special that is being done inside aurel

[2016-05-16 18:24] jdanyow commented on #5
I think it's because JQuery doesn't fire real DOM events.

[2016-05-16 18:27] AStoker commented on #5
And the aurelia-pal framework fires real DOM events?

[2016-05-16 18:35] AStoker commented on #5
Okay, found the documentation (as much as there is at least) for Aurelia Pal, and think I understand a bit more about it. It would be helpful to have some more documentation about more than just the API's of the repos, but also the purpose behind the functionality (not a topic for here though).
My problem was that events were not firing in such a way that Aurelia knew that values were changing. Us

[2016-05-16 18:35] #5 closed

[2016-05-16 19:11] EisenbergEffect commented on #5
There isn't much documentation on that because it's mostly intended for internal use, but I can see more scenarios where it could be used by developers, especially going forward.

It mainly provides a set of helper APIs that serve as a lightweight abstraction over the DOM. It was designed with a forward-looking intent to implement server rendering. The event firing capabilities don't really do any

[2016-05-16 19:17] AStoker commented on #5
Thanks for explaining. Would it be unsafe to use the DOM object off of aurelia-pal?

[2016-05-16 19:31] EisenbergEffect commented on #5
Nope. It's safe :)

[2016-05-16 19:39] AStoker commented on #5
Awesome, thanks all for the help.

[2016-05-16 19:54] martingust commented on #6
@AStoker To access the container you can override the [configure function](https://github.com/aurelia/testing/blob/master/src/component-tester.js#L22), get hold of the `aurelia` instance and access the container.

[code]

[2016-05-19 14:25] AStoker commented on #6
Thanks @martingust, that works. Sorry for the late response, had a few other issues I needed to resolve before getting back and making sure this worked.

[2016-05-19 14:25] #6 closed

[2016-05-19 17:35] MarcScheib opened #8 "Rejection because of 404 aurelia-loader-default"
Hi,

I am trying to test my custom attribute with the StageComponent. However, I face the following issue when running the test:

19 05 2016 19:20:37.075:WARN [web-server]: 404: /base/aurelia-loader-default.js
ERROR: 'Potentially unhandled rejection [3] Error: XHR error (404 Not Found) loading http://localhost:9876/base/aurelia-loader-default.js
	Error loading http://localhost:9876/base/aurelia-lo

[2016-05-19 18:43] AStoker commented on #8
It looks like you're missing some configuration. `aurelia-loader-default` is the name of the package that's trying to be loaded, but when files are loaded up to be run, you should see a path more like `jspm_packages/npm/aurelia-loader-default@1.0.0-beta.1.2.2`.

The fact that there is no path to such a file included in the request (Karma runs itself off of `/base`, so that's why you see at least t

[2016-05-19 19:05] MarcScheib commented on #8
Hi @AStoker ,

sure. These are the files:
config.js: https://github.com/MarcScheib/aurelia-syntax-highlighter/blob/master/config.js
karma.conf.js: https://github.com/MarcScheib/aurelia-syntax-highlighter/blob/master/karma.conf.js
test: https://github.com/MarcScheib/aurelia-syntax-highlighter/blob/master/test/unit/syntax-highlighter.spec.js
My karma.conf.js is not referring to the config.js, but ad

[2016-05-19 20:52] AStoker commented on #8
Yah, when using karma and jspm, it looks for the usual place for the config.js, so adding the option in the jspm config inside karma should only be for when you have the config in a different location.

So, I am rather confused to the issue you're having. You're not referencing the `aurelia-loader-default` library directly, but something is asking for it (some other library must have it as a depen

[2016-05-20 06:00] martingust commented on #8
@MarcScheib What version of JSPM are you running? I have run in to similar issues when using some specific versions of JSPM that are not able correctly install all dependencies. Try lock the version in package.json to 0.16.15: `"jspm": "0.16.15"`, remove `jspm_packages` folder and `jspm install` again.

[2016-05-20 09:13] MarcScheib commented on #8
@martingust I was running 0.16.34. I switched to 0.16.15 now (jspm -v):

0.16.15
Running against local jspm install.

Didn't changed anyhting (except the error message):
20 05 2016 11:12:32.351:WARN [web-server]: 404: /base/aurelia-loader-default.js
ERROR: 'Potentially unhandled rejection [3] Error: XHR error (404 Not Found) loading http://localhost:9876/base/aurelia-loader-default.js
    at error

[2016-05-20 10:40] martingust commented on #8
@MarcScheib Thanks for trying that. Just to confirm: did you `jspm-install` all over again after switching to `0.16.15` ?

[2016-05-20 11:01] MarcScheib commented on #8
@martingust yes, I removed the complete `jspm_packages` folder and ran install again after switching.

[2016-05-20 14:32] martingust commented on #8
@MarcScheib Ok, then @AStoker's solution to indivudually install the dependencies is the best solutions I can come up with as well. You can also check in either the Aurelia or JSPM Gitter to see if anyone has any ideas. The problem is most likely not in this repository.

[2016-05-20 14:32] #8 closed

[2016-05-20 18:31] MarcScheib commented on #8
I added the dependencies as described by @AStoker to my JSPM dependencies and loading works now. Buit seems like it is not possible to test custom attributes (Potentially unhandled rejection [1] TypeError: Cannot read property 'viewModel' of undefined) because of this line https://github.com/aurelia/testing/blob/master/src/component-tester.js#L59 , is that right @martingust ?

[2016-05-20 18:40] AStoker commented on #8
What kind of error are you getting based off of that line?
You can still bind a view model to a test on a custom attribute, even if it's just an empty object.
It looks like your test is missing something across these lines:

[code]

in the process of staging the component

[2016-05-20 20:36] MarcScheib commented on #8
I get the following:
`Potentially unhandled rejection [1] TypeError: Cannot read property 'viewModel' of undefined
    at eval (http://localhost:9876/base/jspm_packages/npm/aurelia-testing@0.2.2/aurelia-testing.js:70:58)`

Seems like the `boundTo()` approach is not working. I tried to provide an empty object and some basic VM.
I tried to access `elment.au.controller` in my sample as well via dev t

[2016-05-20 20:37] AStoker commented on #8
Sorry, should have clarified. `viewModel` is an object that actually is your view model.
Can you give me your setup code there for the test?

[2016-05-20 20:47] MarcScheib commented on #8
I opened a private chat in gitter, perhaps we can talk there?

[2016-06-01 19:13] #1 closed

[2016-06-01 19:24] forestmarie opened #9 "Question: Converting from the old way of doing things."
Given the current setup:

[code]

How does this get converted to the newer model?

The blog that Rob did only covered a few cases mostly around the lifecycle not calling methods of the component itself.  Please let me know.

[2016-06-01 19:26] EisenbergEffect commented on #9
@martingust Can you explain the usage? Also, we need to get a doc in place on this. If you can put together something in markdown, we can use this for the docs site article on unit testing.

[2016-06-01 20:14] martingust commented on #9
@forestmarie In its simplest form it would convert something like this

##### View `cards.html`

[code]

##### ViewModel `cards.js`

[code]

##### Test `cards.spec.js`

[code]

[2016-06-01 20:14] martingust commented on #9
@EisenbergEffect For sure!

[2016-06-02 00:15] forestmarie commented on #9
@martingust Do you know if this should work with the wallaby starter skeleton?  I'm getting undefined on StateComponent

[code]

In my case, a is undefined.  I'm not very used to webpack yet, but I play with it after hours.  Let me know if this just a webpack issue.  I'll try in our jspm project tomorrow.

[2016-06-02 05:57] martingust commented on #9
@forestmarie No webpack support yet, here is an issue tracking that https://github.com/aurelia/testing/issues/4

[2016-06-02 05:57] #9 closed

[2016-06-02 16:11] forestmarie commented on #9
@martingust thanks for  answering. From a guidance perspective, do you see the component tester being used to test view model behaviors or would you recommend just newing those up and passing in stubs as done in the starter?  The component tester really seems focused on reusable components.

Thanks.

[2016-06-02 16:39] martingust commented on #9
Yes, what you said. All the none Aurelia stuff I would test outside of Aurelia, just standard unit testing.

[2016-06-07 00:41] rinobatin opened #10 "Is the latest npm package correct? [v0.3.0]"
I followed example mentioned [here](http://blog.durandal.io/2016/05/03/aurelias-new-validation-and-testing-capabilities/).

The v0.3.0 npm package does not work. ```StageComponent``` is always undefined.

I tried using the github release and it worked. [Edit 2: I used dist/aurelia-testing.js from this repo]

Can anyone please confirm?

[Edit: I'm using typescript/systemjs/jasmine/karma]

[2016-06-07 05:55] EisenbergEffect commented on #10
I'll investigate this. There may be something incorrect in the package config.

[2016-06-07 05:57] rinobatin opened #11 "Typescript and Karma"
I have a project based on [aurelia skeleton-typescript-asp.net5](https://github.com/aurelia/skeleton-navigation/tree/master/skeleton-typescript-asp.net5) which is using Typescript.

The folder structure looks like this:
[code]
I have a test (sample.spec.ts) with ``` StageComponent.withResources('../../src/component')...```. When I run karma, I get an 404 error because it could find ```http://local

[2016-06-07 05:58] EisenbergEffect commented on #11
Check your karma config paths and see if they match what we have in the latest version of the skeleton in master. There have been some changes there recently that improve a number of issues like this.

[2016-06-07 05:58] #11 closed

[2016-06-07 06:07] rinobatin commented on #11
@EisenbergEffect, I don't think its the Karma config (I check my copy and its almost identical with the latest). Besides, the original tests from the skeleton are passing.

[2016-06-07 06:09] EisenbergEffect commented on #11
With the latest skeleton config, I think that `StageComponent.withResources('component')` should work. Have you tried that?

[2016-06-07 06:17] rinobatin commented on #11
`StageComponent.withResources('component')` give me this error:

[code]

I will fork the skeleton and reproduce this problem. I'll post the link.

[2016-06-07 07:01] rinobatin commented on #11
I found the problem -- it's the path that I used in the `withResources`.

Given the folder structure above, it should be `StageComponent.withResources('src/component')`

[2016-06-07 12:52] AStoker commented on #10
Yes, I noticed this, and it's changed in 0.3.0. I had to import `aurelia-testing/component-tester` (as posted to just `aurelia-testing`). The default export for `aurelia-testing` just exports `CompileSpy`, `ViewSpy`, and `configure` (https://github.com/aurelia/testing/blob/master/src/aurelia-testing.js#L11). The component-tester file contains the `StageComponent` function you need.

[2016-06-08 14:16] gabor-farkas commented on #10
I also had this problem with ComponentTester, it's not re-exported in '[aurelia-testing](https://github.com/aurelia/testing/blob/master/src/aurelia-testing.js)'. Typescript compilation finds it, but it's not there at runtime.

[2016-06-08 17:42] forestmarie commented on #10
Same here - I had to use import {StageComponent} from "aurelia-testing/component-tester";   fyi - I just jspm installed aurelia-testing today...

[2016-06-08 17:44] EisenbergEffect commented on #10
We'll get this fixed. Apologies!

[2016-06-08 20:45] #10 closed

[2016-06-08 20:47] EisenbergEffect commented on #10
Fixed and released.

[2016-06-09 01:43] forestmarie opened #13 "Error loading html"
My gist is here:

https://gist.github.com/forestmarie/bcedbd2a51162aafdefeb677c56c2be2

The error I get is below.  I get this in both wallaby or running gulp tdd.  This is a jspm solution.

If I change the argument of withResources to a component that does not exist, it'll give an error stating it can't find that JavaScript which makes sense.  Here it's just complaining about the components .html

[2016-06-10 16:36] EisenbergEffect commented on #13
Did you update your Karma configuration? There was a change that was required in order to make this work correctly. Notice `serveFiles: ['src/**/*.*'],` has been changed so it isn't restricted to JS. Let me know if that works.

[2016-06-10 19:56] forestmarie commented on #13
That did the trick in karma for sure.  Looking at your wallaby in the skeleton vs. mine has a few differences.  Do you know what I need to change in my wallaby.js or if this is possible to run in wallaby yet?

[2016-06-10 20:00] EisenbergEffect commented on #13
I don't know much about wallaby. Our skeleton's wallaby may not be fixed. See if it's got some path info and that html is included. Let me know what error you are getting.

[2016-06-10 23:17] forestmarie commented on #13
It works - my command line was on the wrong project.  Your skeleton, however, won't work as it's only loading the JavaScript.

I put this in my wallaby under files:
          { pattern: 'src/**/*.js', load: false },
          { pattern: 'src/**/*.html', load: false },

Thanks

[2016-06-10 23:17] #13 closed

[2016-06-10 23:25] EisenbergEffect commented on #13
Interested in sending us a PR for the fix? ;)

[2016-06-10 23:54] forestmarie commented on #13
Sure. I'll put it in early next week.

[2016-06-20 22:56] niieani commented on #4
@EisenbergEffect Instead of hard-coding the bootstrapper import, the bootstrap method could be made a parameter of the `create` function: https://github.com/aurelia/testing/blob/master/src/component-tester.js#L48-L49. This way we could pass in any bootstrapper, default, webpack one, or any future one. This should be done before 1.0 since it would be a breaking change otherwise.

[2016-06-20 23:14] EisenbergEffect commented on #4
Can you make a PR with that today?

[2016-06-21 19:56] AStoker opened #17 "Enhancement Request: Use pre-created view"
I'm working on trying to get tests back up and running on the UI-Virtualization plugin, and realized that at some point, we're trying to make sure a specific function was called with a pre-created element.
What the ComponentTester allows in the `inView` function is only a string. If we were able to pass an element in as well, then we could set up proper listeners in our tests.

[2016-06-21 21:00] martingust commented on #17
@AStoker Sorry, I'm not sure I fully understand - what is the scenario where you want to make sure a function was called with a pre-created element?

[2016-06-21 21:04] AStoker commented on #17
Well, I was looking at the `virtual-repeat.spec.js` file, where an `element` is created. This element is then registered on the container as a `DOM.Element` so that when the virtual repeat binding is executed, it uses `element`. Then, later on in the tests we want to make sure that functions such as `getStrategy` are called with the proper element (the `element`).
This might be a non issue, but I

[2016-06-27 13:49] yacuzo opened #19 "PhantomJs/Wallabyjs"
Hello,

I had some issues running tests with the new ComponentTester with Wallabyjs.
It looked like some sort of polyfill issue which broke aurelia setup.

The problem existed with Wallaby which by default uses Phantomjs 1.9.8. Following the instructions here: https://wallabyjs.com/docs/integration/phantomjs2.html to setup wallaby with phantomjs 2.1.1 removed the problem.

Given PhantomJs' popular

[2016-06-30 11:06] yacuzo opened #20 "Feature request: Mocking/stubbing sub-views"
Hi,

I know this is heavily a work-in-progress library, but I also know you want feedback :)

Having used the ComponentTester for a few components we find the need for mocking/stubbing out sub-views which are imported through the html-require tag.

Prehaps a bit of background is helpful:
We have a separate suit of tests we call binding-tests. They are a form of regression-tests to avoid the proble

[2016-07-04 16:53] dstroyrofworlds opened #21 "skeleton-typescript-webpack does not work with aurelia-testing"
See [570](https://github.com/aurelia/skeleton-navigation/issues/570)

I installed aurelia-testing:

[code]

I added a custom element:
test.html

[code]

I added a test:

[code]

The **withSources** - I tried './src/test.html', 'test.html' - nothing works.

I get error when running karma:

[code]

[2016-07-04 16:55] EisenbergEffect commented on #21
Sounds like a possible configuration problem with your test setup. Perhaps @niieani can provide some feedback.

[2016-07-04 17:55] niieani commented on #21
I haven't actually tested aurelia-testing with webpack yet, so it's possible there's some bug involved. I'll have to do that soon and let you know.

[2016-07-06 19:45] EisenbergEffect commented on #4
We've removed the default bootstrapper dep from testing.

[2016-07-06 19:45] #4 closed

[2016-07-09 20:21] EisenbergEffect commented on #19
@yacuzo Using this link you can submit a PR directly to the component tester docs: https://github.com/aurelia/testing/edit/master/doc/article/en-US/testing-components.md

We would appreciate it if you could use your experience with this issue to add a note there. We'd be happy to merge it.

[2016-07-09 20:21] #19 closed

[2016-07-10 13:58] EisenbergEffect commented on #20
I'd say, the best way to get something like this in would be to submit a PR with the proposed API.

However, for this specific scenario, it seems like you would just want to gain access to the view-model for bar and check it's property. That is possible, though a nicer API could be made available.

[2016-07-18 13:52] alexisinwork opened #22 "Problems with"
**You have error in documentation about aurelia-testing**
*URL*: http://aurelia.io/hub.html#/doc/article/aurelia/testing/latest/testing-components/3

View:
[code]
ViewModel:
[code]

But in test suit used **name** not **firstName**:
[code]
Please, fix this error.

P.S. If I write not in the correct place, please write where I should write

[2016-07-18 14:18] #22 closed

[2016-07-19 12:09] doktordirk opened #23 "not binding"
**I'm submitting a bug report**

* **Library Version:**
aurelia-testing@1.0.0-beta.1.0.3

* **Operating System:**
Windows 10

* **Node Version:**
5.70

* **NPM Version:**
3.6.0

* **JSPM**
0.16.39

* **Browser:**
Chrome  51.0.2704.103

* **Language:**
 ESNext

**Current behavior:**
Sample code in the docs doesn't bind 'Bob' and the test fails. (i replaced name with firstName there everywhere as th

[2016-07-19 13:24] EisenbergEffect commented on #23
We've got the docs fixed up under source now. They just haven't been released yet. We'll get a content update out next week at the latest.

[2016-07-19 13:24] #23 closed

[2016-07-19 13:43] doktordirk commented on #23
ah,, alright. the sample there worked now

[2016-07-20 07:36] doktordirk opened #25 "Dependency Injection"
Following works in the app, but with aurelia-testing the element does not get created.  There is no error message.

[code]

maybe related:
function 'processor' does not get called in aurelia-testing:
[code]

[2016-07-20 13:02] EisenbergEffect commented on #25
@martingust Can you take a look?

[2016-07-20 20:48] martingust commented on #25
@EisenbergEffect I'm on vacation for another week or so without access to computer. If no one else have looked into this before I get back I will.

[2016-07-21 21:28] skeane50 opened #26 "View not rendering when using StageComponent"
**I'm submitting a bug report**

* **Library Version:**
aurelia 1.0.0-rc.1.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 7

* **Node Version:**
6.2.0

* **NPM Version:**
3.8.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.32

* **Browser:**
Chrome Version 51.0.2704.103 m

* **Language:**
ESNext

**Current behavior:**
I tried following the tutorial at http://aurelia

[2016-07-21 21:50] doktordirk commented on #26
see Issue # 23 (not binding) at aurelia/testing
https://github.com/aurelia/testing/issues/23

[2016-07-21 21:56] TKTheTechie commented on #23
@doktordirk  - sorry, I can't seem to find the fix. Can you post the link?

[2016-07-22 04:36] doktordirk commented on #23
check the /doc folder in this repo

[2016-07-22 17:43] doktordirk commented on #25
might be the reason https://github.com/aurelia/framework/issues/480

[2016-07-22 23:49] tkhyn commented on #25
@doktordirk you may want to try and add a timeout. The quickest way is to replace the `0` at the end of [this line](https://github.com/aurelia/testing/blob/master/src/component-tester.js#L64) by a reasonably high number of milliseconds. Of course you'll have to replace it in the transpiled code, in the jspm package folder for aurelia-testing.

If it works with a timeout, then it's likely to be rel

[2016-07-23 03:41] tkhyn opened #28 "feature request: waitForElement à la selenium-webdriver"
**I'm submitting a feature request**

As pointed out in aurelia/framework#480, it seems that there is no way to wait for a component to be fully rendered before the start of a test. This led me to think that a waitForElement method (sort of mimicking the one that can be used in selenium) would be a good thing to have in `aurelia-testing`.

**Current behavior:**

When a component (typically a compo

[2016-07-23 16:20] doktordirk commented on #25
re timeout: i played with it, but to no avail. but considering i get component.dispose undefined or something, it still seem related (since it'll get defined within some promise and no-one waited for it to resolve apparently)

[2016-07-24 20:31] suneelv commented on #21
[code]

I am getting the following when trying to test a custom element using es6 webpack

![screen shot 2016-07-24 at 10 25 32 pm](https://cloud.githubusercontent.com/assets/6492948/17086284/0bea7a76-51ee-11e6-9924-eae95a351f9a.png)

Also the documentation doesn't mention that we should import bootstrap from 'aurelia-bootstrapper-webpack' when using webpack.

[2016-07-25 15:23] doktordirk commented on #25
any news?

[2016-07-27 10:06] kdmatrosov opened #29 "TypeError: config.addPipelineStep is not a function"
I use default sceleton-esnext.
I added this line to App
[code]
After this I catch error running 'gulp test'
[code]

[2016-07-27 12:48] EisenbergEffect commented on #29
Please use the issue template if you wish to report a bug. If not, you can ask questions in gitter.

[2016-07-27 12:48] #29 closed

[2016-07-27 13:27] doktordirk opened #30 "add tests"
**I'm submitting a feature request**

* **Library Version:**
1.0.0-rc1.0.03

**Current behavior:**
there are no tests

**Expected/desired behavior:**
have tests

* **What is the motivation / use case for changing the behavior?**
tests are good :smile:

[2016-08-02 07:01] yacuzo commented on #20
I dont want to check the property on the model. I want to check that my binding-expression in foo's  template corresponds with something on the model. As I see it the best way to do this would be to mock out the bar-component, and check that the mock renders something other than undefined.

I'm not sure what the API for mocking out 'bar' would be. The ComponentTester.WithResources needs a way to o

[2016-08-02 19:19] doktordirk commented on #25
hmm, samples i gave above work fine now.

[2016-08-02 19:19] #25 closed

[2016-08-16 09:06] doodlesbykumbi commented on #21
@EisenbergEffect @niieani I'm experiencing the same issue. Is anyone currently working on this ?

[2016-08-16 10:38] doodlesbykumbi commented on #21
After some digging, I can see that the uncaught error is from when the webpack-loader tries to call `require.ensure` in `WebpackLoader.prototype._import`. Some other strange stuff is happening there e.g. trying to access the variable `require` results in an error being thrown. `Error{code: 'MODULE_NOT_FOUND`

[2016-08-16 10:39] niieani commented on #21
@doodlesbykumbi do you have the latest versions? see if `npm update` would help

[2016-08-16 10:55] doodlesbykumbi commented on #21
@niieani I've got the latest everything.

Here is my test

[code]

[2016-08-16 12:45] #26 closed

[2016-08-16 12:58] martingust commented on #30
Done in https://github.com/aurelia/testing/commit/6680ff2fdb8acd78c5a3990c84651306c16a226c, thanks!

[2016-08-16 12:58] #30 closed

[2016-08-16 17:44] niieani commented on #21
OK, seems to break at `modules[moduleId].call` when a module doesn't exist in the cache. I'll try to get a fix out soon.

[2016-08-16 18:30] niieani commented on #21
Feel free to track the related issue https://github.com/aurelia/loader-webpack/issues/19.

[2016-08-17 09:22] doodlesbykumbi commented on #21
To whom it may concern :dancer:

I found a quick fix after chasing the trail a bit.
In `test/unit/setup.ts`, which should be imported into any of the tests that interact with Aurelia, add the following and you should be good to go for now.

[code]

[2016-08-19 11:31] niieani commented on #21
Actually there are two separate related issues here
one of them is that some resources are missing when running the tests, so when using your workaround by manually importing them, the missing resources are added
The other problem is that when a module is missing and modules[moduleId].call is called while modules[moduleId] is undefined, causes the error you saw. The proper fix will be to add the r

[2016-08-19 13:59] EisenbergEffect commented on #28
@martingust Any thoughts on this?

[2016-08-19 14:16] AStoker commented on #28
@tkhyn, would something like this help? https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver

That way you're just listening to the element change events and not firing off timeouts left and right in tests.

[2016-08-19 21:33] mttmccb commented on #21
The work around does work for me (using esnext webpack), starts with...

`WARN: '%cUnhandled rejection TypeError: Cannot read property 'call' of undefined`

[2016-08-20 01:13] tkhyn commented on #28
@AStoker

Yes I thought about using observers but it's not trivial (at all) to implement if the aim is to support different getter functions, especially if the element waited for is nested far deep in the DOM, especially if you want to use jQuery selectors (which I do), etc...

I think that using timeout is the easiest / most reliable / most versatile way to do, and as it's a testing tool I'd say

[2016-08-20 01:20] tkhyn commented on #28
FYI here is the slightly improved version I've been using for a few weeks now. Additionnally supports:
- checking jQuery elements
- checking for absence of element
- custom interval and timeouts

[code]

[2016-08-22 06:46] martingust commented on #28
I think this is a great improvement. @tkhyn Feel free to submit a PR.

[2016-08-29 22:39] ajoslin103 opened #33 "testing fails when custom elements are composed dynamically"
**I'm submitting a bug report**

* **Library Version:**
aurelia-testing@1.0.0-beta.2.0.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.11.6 (15G31)

* **Node Version:**
6.3.0

* **NPM Version:**
3.10.3

* **JSPM OR Webpack AND Version**
webpack@2.1.0-beta.21
(pulled from node_modules/webpack/package.json as the command: webpack is not found)

* **Browser:**
Version 54.

[2016-08-31 13:32] ajoslin103 commented on #33
from Gitter:

Bazyli Brzóska @niieani --  as long as you have defined all your widgets as build resources, they should work. The warning message you are seeing "require function is used in a way in which dependencies cannot be statically extracted" is only that - a warning.

http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/bundling-webpack/5

Thanks!

[2016-08-31 13:32] #33 closed

[2016-09-14 18:12] PWKad opened #35 "Documentation Improvements"
# Overview

aurelia-testing is a great library for improving testing lifecycle and associated DOM elements.  Right now the library is in a great place but the documentation makes it a bit difficult to jump in to as some of the information is spread around a bit between hub and the initial blog post, making it difficult to deduce the proper way to test different scenarios and also to understand the

[2016-09-16 10:31] manuel-guilbault opened #36 "feature request: method to wait for task queue"
Many operations are asynchronous in the framework. For example, updating the target of a two-way binding is done asynchronously. When depending on such operations in a test, you need to enqueue the rest of the test on the task queue, which requires code that is repetitive and that adds noise to the tests.

For example:

[code]

At the moment, we have to:
* import the TaskQueue
* define a custom bo

[2016-09-16 10:44] jdanyow commented on #36
use `.then(done)` instead.  Here's an example (needs to be split up, but you'll see what I mean): https://github.com/aurelia/validation/blob/master/test/basic.ts

[2016-09-16 10:46] manuel-guilbault commented on #36
Oh so the recommended solution is to use setTimeout instead of the task queue?

[2016-09-16 10:48] jdanyow commented on #36
Using the task queue works, and would make your tests execute faster. You may want to wait two cycles though. Maybe the change and blur methods in the example should be exported from the testing repo?

[2016-09-16 10:55] manuel-guilbault commented on #36
Could be useful indeed.
And thanks for the example :)

[2016-09-17 15:44] manuel-guilbault opened #37 "Testing a routed component"
At the moment, is there a way to test a routed component?
I tried the following:

[code]

This throws an error because no viewModel is set on the container (the router's _findViewModel method returns `undefined`).

As far as I can tell, the only way to test a routed component is with end-to-end tests right now.
Is there any plan to support this kind of feature?

[2016-09-17 15:51] EisenbergEffect commented on #37
There is now :)

[2016-09-17 16:01] manuel-guilbault commented on #37
Awesome :)

[2016-09-26 04:45] EisenbergEffect commented on #37
@manuel-guilbault Can you describe to us what you would like to be able to do in such a test?

[2016-09-26 09:46] manuel-guilbault commented on #37
Here's the features I would need:
- Methods similar to the ComponentTester's, to setup the sandboxed Aurelia app:
  - bootstrap
  - withResources
- Ability to manually handle the screen activation lifecycle along with the component lifecycle
- When not manually handling the lifecycle, ability to specify the route parameters passed to the `activate`method

Here's a typical test case I would write:

[2016-09-27 14:49] PWKad opened #38 "Catch errors from loaders and emit instead of relying on the dev to"
Current the developer needs to add a catch to every component is being created if there are issues such as not being able to load a resource.  We should be able to catch those and emit a console error to aid the developer in the workflow.

[2016-09-27 14:55] plwalters commented on #38
Note after this is complete need to make sure the docs reflect that `catch` isn't needed

[2016-09-28 02:54] EisenbergEffect commented on #38
@PWKad I assigned you :)

[2016-09-28 03:10] #36 closed

[2016-09-28 03:36] EisenbergEffect commented on #35
@PWKad Go for it :)

[2016-09-29 13:34] spencewood commented on #21
I have been effectively held back in updating to the 1.0.0 Aurelia release by this issue. We use Aurelia for a large app, and have thousands of tests using the old `templatingEngine.createViewModelForUnitTest()`. Updating to aurelia-testing using the webpack loader has given me the same results as OP. Simply adding a few additional resources for every test suite has not solved this issue in our ca

[2016-09-29 15:23] EisenbergEffect commented on #21
@niieani Can you look into this please?

[2016-09-29 15:44] niieani commented on #21
@EisenbergEffect already have; the test config bundle config needs to include the WebpackPlugin. I'll try to get a fix into to skeleton-navigation and people can copy the same change from there.

[2016-10-03 18:31] obiyoda commented on #21
@niieani can you post the fix here so those of us that are waiting for this to make it out can make the fix? I don't understand what you mean by the "the test config bundle needs to include the webpackPlugin". Or if you have a branch or something you can point us to that shows what needs to be done that would be awesome. Thanks for your great work on the webpack plugin!

[2016-10-03 19:22] niieani commented on #21
@obiyoda I know the problem, but not how to implement the solution yet. Might be configuration files [here](https://github.com/aurelia/skeleton-navigation/tree/master/skeleton-typescript-webpack/test).

[2016-10-05 04:32] EisenbergEffect commented on #21
Closing this question to track the issue here: https://github.com/aurelia/loader-webpack/issues/19

[2016-10-21 20:30] stevies opened #40 "feature request - webpack support / setup documentation"
**I'm submitting a feature request**

* **JSPM OR Webpack AND Version**
webpack 2.1.0-beta.17

* **Language:**
ESNext

**Current behavior:**

Can this be made to work with webpack?

If I try to get a simple example working using webpack / ESNext - it fails.

I've simply swapped out the bootstrap import to be from 'aurelia-bootstrapper-webpack'.  Maybe I need to do more.

Can the docs be updated to

[2016-10-26 03:23] EisenbergEffect commented on #40
We have a document that covers basic webpack setup. It isn't published yet but you can take a look at it here: https://github.com/aurelia/framework/blob/master/doc/article/drafts/manual-webpack-configuration.md

[2016-10-26 03:23] #40 closed

[2016-10-26 07:44] stevies commented on #40
The question was about testing and using aurelia-testing in a webpack setup (it currently does not work).  The document is helpful if you want to deviate from the @easywebpack approach (which works fine).  But it does not cover unit testing in any way.  I don't think this ticket should be closed.

As it stands, unit testing viewmodels is not possible when using webpack and plugins are involved (or

[2016-10-26 08:09] stevies commented on #40
Should this be raised as a defect against aurelia/testing?  It does not appear to work when using webpack.

[2016-10-26 17:44] stevies commented on #40
Ah - I now see this is really much the same as:

https://github.com/aurelia/testing/issues/21

But with ES6 and not typescript.  That has also been closed (which is why I originally did not see it) and moved to:

https://github.com/aurelia/loader-webpack/issues/19

[2016-11-02 10:24] michaelbull opened #41 "Type definition of bootstrap is inconsistent with aurelia-bootstrapper"
**I'm submitting a bug report**

* **Library Version:**

1.0.0-beta.2.0.0

**Please tell us about your environment:**
* **Operating System:**
Linux (debian jessie)

* **Node Version:**
6.4.0

* **NPM Version:**
3.10.3

* **Webpack AND Version**
webpack 1.13.3

* **Browser:**
Chrome 54.0.2840.71 m

* **Language:**
TypeScript 2.0.6

**Current behavior:**

[code]

**Expected/desired behavior:**

The

[2016-11-02 15:35] EisenbergEffect commented on #41
This is TS issue I think, since we need the Aurelia type but can't import that library into the bootstrapper's code. We'll need to investigate how best to solve this since TS doesn't have any notion of Type info without code import...at least not that I'm aware of.

[2016-11-02 21:02] michaelbull commented on #41
A current workaround to prevent the error from being printed in the console is to cast bootstrap to any, e.g. `component.create(bootstrap as any).then(() => {`.

This then leads to the following error, but it's only printed once and not for every test using the bootstrap function:

[code]

[2016-11-04 15:24] PWKad opened #42 "StageComponent does not work without `withResources`"
Let's add a new method for creating the component without resources, such as `withoutResources` so that the component can still be created without making up dependencies.

[2016-11-05 12:51] fracz opened #43 "There is no way to test a component that requires its own transpiled styles"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.2.0.0

* **JSPM OR Webpack AND Version**
JSPM 0.16.32

* **Browser:**
all

* **Language:**
all

**Current behavior:**
I want to test a component that has CSS import in its view

[code]

The test setup is as follows:
[code]

The test starts with `component.create(bootstrap).then(() => {` and fails with

[code]

The CSS file is not t

[2016-11-13 06:59] EisenbergEffect commented on #42
I'm not sure I understand. You can't create a component that doesn't exist in view resources. Can you explain?

[2016-11-14 18:50] plwalters commented on #42
Take for instance the example of having a service that interacts with the DOM.  You want to use the Aurelia testing library for creating a custom element and then expect that you can test the service in isolation.  The service is loaded through the container and has no corresponding view, but you want to create a view.  Without calling `.withResources` you would have to do this using a faux DOM of

[2016-11-14 18:51] plwalters commented on #42
And I realize this could be done through a custom attribute but this caters more to the user who is augmenting a page with Aurelia as opposed to running everything with Aurelia.

[2016-11-17 10:03] altenstedt opened #45 "Package aurelia-validation not supported?"
**I'm submitting a feature request**

* **Library Version:**
1.0.0-beta.2.0.0

* **Operating System:**
Windows 10

* **Node Version:**
4.5.0
* **NPM Version:**
2.15.9

* **JSPM OR Webpack AND Version**
JSPM 0.16.45
* **Browser:**
Chrome 54.0.2840.99 m (64-bit)

* **Language:**
ESNext

**Current behavior:**
Potentially unhandled rejection [1] Error: No BindingBehavior named "validate" was found!

*

[2016-11-17 15:02] EisenbergEffect commented on #45
@jdanyow Thoughts?

[2016-11-17 17:42] llicht opened #46 "Typescript typing for StageComponent"
**I'm submitting a feature request**

* **Library Version:**
1.0.0-beta.2.0.0

**Please tell us about your environment:**
* **Language:**
Typescript 2

**Current behavior:**
1) StageComponent is of type any, which means the typings of ComponentTester aren't taken advantage of when StageComponent is used.
2) If you workaround (1), you'll find that doing "component.create (bootstrap)" like the docum

[2016-11-17 23:31] jdanyow commented on #45
The validation library's own test suite uses aurelia-testing to test itself. It should work. Did you call .plugin('aurelia-validation') in your test?

[2016-11-18 06:24] EisenbergEffect commented on #46
Would you be interested in submitting a PR to fix the types in the code?

[2016-11-18 06:32] EisenbergEffect commented on #45
Seems like a setup issue. Closing for now but we can assist the OP if he has further issues.

[2016-11-18 06:32] #45 closed

[2016-11-18 07:54] altenstedt commented on #45
I did _not_ call .plugin() in my tests!

Thanks also for the pointer to aurelia-validation library's own test suite. That code helped me _a lot_, understanding how to use aurelia-validation for scenarios that are a little more complex than the ones covered in the documenation.

[2016-11-21 15:48] llicht commented on #46
I'll keep that in mind, but I likely won't be able to.

[2016-12-13 16:00] timfish opened #48 "Running tests in nwjs results in testing attempting to use aurelia-pal-nodejs"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.2.0.1

**Please tell us about your environment:**
- Windows 10
- node 6.6.x
- JSPM 0.16.32

* **Browser:**
Chrome AND nwjs

* **Language:**
TypeScript

**Current behavior:**
Tests run fine in Chrome. I have converted to running tests in nwjs as this is the platform the code will actually run on. If I have any tests using `aurelia-t

[2016-12-13 16:06] timfish commented on #48
Actually, this might be an issue with the bootstrapper v2 as updating that has stopped my entire app from running in nwjs!

[2016-12-13 16:14] timfish commented on #48
Caused by updating to bootstrapper v2 but the bug could be somewhere in the pal detection.

https://github.com/aurelia/bootstrapper/issues/53

[2016-12-13 16:14] #48 closed

[2016-12-17 13:41] Alaboudi1 commented on #35
Any update on this issue?

[2016-12-21 15:43] Todberg opened #49 "Testing custom attribute on custom component"
I have written a custom attribute (`async`) that works together with custom elements (e.g. `foo`). The idea is that `foo` can place a promise on its view-model, for which `async` can await it. Only when (or if) the promise resolves, is `foo` added to the viewslot. This seems to be working like a charm!

[code]

However, I would like to verify the correctness by creating a few unit tests.

[code]

[2016-12-30 21:41] s-hoff commented on #46
@llicht any updates, are you still on to this?

[2017-01-02 15:24] llicht commented on #46
No, I'm not working on this currently, feel free to submit the PR.

[2017-01-12 04:51] nashwaan commented on #35
Its 2017, any progress here, please?

[2017-01-12 06:15] plwalters commented on #35
Yes mostly in docs already

[2017-01-27 00:57] michaelbull opened #54 "Cannot run asynchronous tests (e.g. ComponentTester#create)"
**I'm submitting a bug report**
**I'm submitting a feature request**

* **Library Version:**

`dependencies`:
- aurelia-bootstrapper-webpack@1.1.0
- aurelia-event-aggregator@1.0.1
- aurelia-framework@1.0.8
- aurelia-history-browser@1.0.0
- aurelia-http-client@1.0.4
- aurelia-logging-console@1.0.0
- aurelia-templating-binding@1.2.0
- aurelia-templating-resources@1.2.0
- aurelia-templating-router@1.

[2017-01-28 15:56] kvernon opened #55 "NodeJs, Mocha, StageComponent"
**I'm submitting a bug report**

* **Library Version:**
major.minor.patch-pre

"dependencies": {
    "JSON": "^1.0.0",
    "aurelia-animator-css": "^1.0.0",
    **"aurelia-bootstrapper": "^2.0.1",
    "aurelia-dependency-injection": "latest",**
    "aurelia-fetch-client": "^1.1.0",
    "aurelia-framework": "latest",
    "aurelia-logging-console": "latest",
    **"aurelia-polyfills": "^1.1.1",**

[2017-01-31 04:44] #46 closed

[2017-01-31 04:45] EisenbergEffect commented on #41
Fixed: https://github.com/aurelia/testing/pull/52

[2017-01-31 04:45] #41 closed

[2017-02-08 15:17] AdamWillden commented on #54
I'm having the same issue, is there a workaround?

[2017-02-08 15:20] AdamWillden commented on #54
I should add that I use JSPM not webpack so it's not necessarily webpack related.

[2017-02-08 16:46] AdamWillden commented on #54
Hmm. I've uninstalled and reinstalled my dev dependencies (`aurelia-testing` and `aurelia-bootstrap`), fixed up a few tests (which were broken in numerous ways) and now its working. I wonder if the error shown is a result of a broken test/setup. Least it appears so in my case.

Unfortunately I can't be certain exactly what operation fixed it for me.

[2017-02-08 16:52] michaelbull commented on #54
@AdamWillden do you have dynamic resolutions for your dependencies (i.e. using a special ^ or ~ character in your `package.json`) for those two dependencies? Would be interesting to know if it fixed itself because you reinstalled with dynamic resolutions and pulled in a newer version of those packages.

[2017-02-08 19:34] AdamWillden commented on #54
Hi @michaelbull, I only started with `aurelia-testing` today so the testing and bootstrap dependencies I downloaded would have been the latest.

I had the aforementioned issue, I then tried an older version of aurelia-testing (back to beta.1.0.0) to no avail, I then fixed my tests and it started working (one example of an issue was that my `.html` files were not being served). I tried updating to

[2017-02-08 19:49] AdamWillden opened #57 "Named slots cause DI exception"
**I'm submitting a bug report**

Could be related to https://github.com/aurelia/pal-browser/issues/17 ??

* **Library Version:**
1.0.0-beta.2.0.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.4.0

* **NPM Version:**
4.0.5

* **JSPM OR Webpack AND Version**
JSPM 0.17.0-beta.32

* **Browser:**
Chrome 56.0.2924

* **Language:**
TypeScript 2.1.5

[2017-02-08 19:49] AdamWillden commented on #57
I will keep investigating in case there is an issue on my part

[2017-02-08 20:03] AdamWillden commented on #57
@niieani I have PMed you on gitter with a repro which may help the linked issue where you asked for one.

[2017-02-09 08:54] AdamWillden commented on #54
@michaelbull scrap that, i just pushed the code to our CI server and it failed with the same issue

[code]

I'll have a look to see what's different about my local setup :-/

[2017-02-09 09:46] AdamWillden commented on #54
As I have a working setup, and seemingly a clean repo doesn't work. So I have cloned my working setup to a new directory, run `npm install`, run `gulp test-ci` to confirm the issue persists... except I don't get an issue!

local `npm -v 4.0.5`, `node -v v7.4.0`
server `npm -v 4.1.2`, `node -v v7.5.0`

Looking at your versions i don't think npm/node versions are the issue here. I've downloaded the

[2017-02-09 09:54] AdamWillden commented on #54
I was also on chrome 55 yesterday (same version as you) yet this morning my PC showed chrome 56. IT must have updated it sometime. Unfortunately I've updated chrome on the CI server to 56 and it's still exhibiting the same issue.

I can't think what else to try.

[2017-02-09 10:26] AdamWillden commented on #54
npm, node and global npm dependency versions are now in sync (local vs server) to no avail.

The only difference I can think of now is that my laptop is windows 10 but the server is windows server 2012, however I saw the issue yesterday on my windows 10 laptop and you are on linux.

[2017-02-09 10:43] AdamWillden commented on #54
@niieani the code I gave you on gitter last night for #57 is the same code I'm having issues with here.

[2017-02-13 16:54] AdamWillden commented on #54
@michaelbull @niieani stupidly I should have tried this before but I increased the value of `jasmine.DEFAULT_TIMEOUT_INTERVAL` to 10 seconds for the CI server.

[code]

Not sure what causes it to take that long though, I think that is the bug here.

[2017-02-24 04:17] RichiCoder1 opened #58 "Component element is invalid when using nodejs pal"
**I'm submitting a bug report**

* **Library Version:**
[code]

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
v7.2.1

* **Language:**
Typescript 2.2

**Current behavior:**
[code]

The custom element in question also has the following lines: `this.element.classList.remove("class")`, where `element` is getting `@autoinject`'d in. The issue is that

[2017-02-24 07:17] EisenbergEffect commented on #58
I believe this is a problem with TypeScript. For some reason TS defines `Element` as an interface, which means that it doesn't correctly encode the Type metadata. As a result, the `autoinject` attribute and DI can't properly inject the right type. I'm not sure I fully understand why TS doesn't recognize the `Element` class instead. As a solution to this, I think you can use `inject` and list out t

[2017-02-24 07:17] #58 closed

[2017-02-24 17:14] RichiCoder1 commented on #58
The only problem with this is it works perfectly when actually running the application. And the `component.element` created by `StageComponent` is null.

[2017-02-27 15:28] massimocode commented on #37
What the latest on this issue? We can't seem to find a way to call activate in our tests.

Edit: Oops, I found how to do it. `component.viewModel.activate()`

[2017-02-28 12:07] timfish commented on #28
The pull request has been merged but I can't find any of the `waitForElement` methods in any of the `dist` output or TypeScript definitions. Whats left here?

[2017-02-28 16:32] EisenbergEffect commented on #28
It needs to be built and released still.

On Feb 28, 2017 4:07 AM, "Tim Fish" <notifications@github.com> wrote:

[2017-03-01 13:27] boazblake commented on #8
was this ever resolved? I am getting this issue as well.
`TypeError: Cannot read property 'viewModel' of undefined
      at Object.<anonymous> (src\dependent\edit\component.spec.js:99:14)`

[2017-03-01 13:57] AStoker commented on #8
Pretty sure we resolved it (it was a while ago)...
Not sure what your problem is exactly @boazblake without some context of the surrounding code :)

[2017-03-01 16:17] timfish commented on #43
I've had this same issue. I thought maybe I could override the Loader and return an empty string:

[code]

[code]

However it appears that only `html` files are going through my `EmptyCssLoader`. The Css loading is still getting an instance of `DefaultLoader` from the di container.

[2017-03-01 17:12] fracz commented on #43
We went for a compromise, i.e. we still have small scss files near to the components where they are used, but gulp finds all of them during build, concatenates them and serves as one `style.css` file. This allowed us to remove all `<require from="*.css">` from views.

Now, we can have CSS hot reload with browsersync and unit test a components. Both of these were not possible with _cool_ `require`

[2017-03-02 09:15] MarcScheib commented on #8
@boazblake I can't remember what was the exact problem at that time. However, the code I cited seems to be unchanged (didn't watched the sourroundings). **I am not up-2-date on this lib whether it is working now without my changes!**

Back then, I decided to change the `create()` method of the ComponentTester to get it work without VM (see usage at the end of this post):

[code]

Use it like this:

[2017-03-02 12:15] boazblake commented on #8
@AStoker @MarcScheib

Thanks guys - it was an issue on my end regarding how I was creating my httpMock class.  I had given it a data property and two methods (get and post) that have access to that property. It turns out that the I needed to give the HttpMock class a constructor and add the data property there.

[2017-03-03 04:58] #28 closed

[2017-03-03 04:59] #35 closed

[2017-03-03 08:23] MarcScheib commented on #8
@boazblake Perhaps I should give my source an update then :D

[2017-03-08 23:05] ajoslin103 commented on #57
"This is not the issue you're looking for..."

comment moved to #54

thanks

[2017-03-09 06:59] AdamWillden commented on #57
I think that is more #54 than this bug. I do not see any named slots in your code.

[2017-03-09 11:44] ajoslin103 commented on #54
I am having the same issue with the skeleton-esnext-webpack

html:
[code]
js:
[code]
spec:
[code]
error:
[code]
alternate: (then instead of async) -- no difference, same error
[code]
Note: when I move the create to the: beforeEach stanza the error changed to: you can't dispose before you create

[2017-03-18 10:50] kvernon commented on #55
Just an updated...

I've pulled latest packages and it still errors:

"dependencies": {
    "JSON": "^1.0.0",
    "aurelia-animator-css": "^1.0.0",
    "aurelia-bootstrapper": "^2.1.1",
    "aurelia-dependency-injection": "latest",
    "aurelia-fetch-client": "^1.1.1",
    "aurelia-framework": "latest",
    "aurelia-logging-console": "latest",
    "aurelia-pal-nodejs": "^1.0.0-beta.1.0.0",
    **"

[2017-03-19 20:41] shanonvl opened #59 "Error when calling ComponentTester.waitForElement(s)"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x

* **Node Version:**
7.7.2

* **NPM Version:**
4.1.2

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
all

* **Language:**
all

**Current behavior:**

Calling either `ComponentTester.waitForElement` or `waitForElements` causes the foll

[2017-03-22 18:42] cehoffman opened #61 "waitFor not available in component-tester"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.0

**Please tell us about your environment:**
* **Operating System:**
OSX 10.x|

* **Node Version:**
7.7.2

* **NPM Version:**
yarn 0.22

* **JSPM OR Webpack AND Version**
JSPM 0.16.52

* **Browser:**
Chrome 55

* **Language:**
ES2015

**Current behavior:**
Trying to use `waitForElement` results in `waitFor is not defined` erro

[2017-03-22 19:05] MeirionHughes commented on #61
duplicate of https://github.com/aurelia/testing/issues/59

I believe this https://github.com/aurelia/testing/pull/60 will fix it. Don't think it is published yet.

[2017-03-22 19:05] #61 closed

[2017-04-09 14:50] niieani commented on #21
Fixed by https://github.com/aurelia/skeleton-navigation/pull/714

[2017-04-14 14:24] nashwaan commented on #21
Sorry @niieani, but the new skeleton still doesn't solve this problem yet (**when running the tests in the browser via karma**). I still get exactly the same error as posted by the OP:

`
 Error: Timeout - Async callback was not invoked within timeout specified by jasmine.DEFAULT_TIMEOUT_INTERVAL.
        Error: Cannot call ComponentTester.dispose() before ComponentTester.create()
`

[2017-04-14 15:56] niieani commented on #21
Thanks for reporting. It might be a problem with the testing framework. We'll try to investigate.

[2017-04-27 11:36] waywardz commented on #21
Has anyone had a chance to look at this?  Any suggestions for workarounds?

[2017-04-27 18:22] niieani commented on #21
As a workaround I'd suggest using a node-based unit-testing framework (jest is available in the latest webpack skeletons). We're also open to PRs with fixes, as I don't currently have the time to investigate this issue.

[2017-04-28 05:27] bulldetektor opened #63 "Feature request: Stubbed ValidationController"
Unit testing ViewModels with ValidationRules are impossible if you're using WebPack or JSPM (and who isn't?). There's an closed, but IMHO un-resolved, issue for this over in the aurelia-validation repo (https://github.com/aurelia/validation/issues/377), but the only work-around that I've found to work is to disable ValidationRules when unit testing. But the validation of input is one of the core t

[2017-04-28 05:35] EisenbergEffect commented on #63
@jdanyow Can you take a look into this request?

[2017-04-28 05:40] jdanyow commented on #63
The unit tests for aurelia-validation use aurelia-testing. You should be able to copy one of them to get started.

https://github.com/aurelia/validation/blob/master/test/validate-binding-behavior.ts

[2017-04-28 08:16] bulldetektor commented on #63
@jdanyow Thanks, but I've already tried to use the StageComponent etc. But I haven't got it running with mocha using jspm. Whatever I try I always end up with the _"Did you forget to add ".plugin('aurelia-validation)" to your main.js?"_ error.

What I really want is to unit test my view model without depending on runtime initialization and loading of Aurelia. I want my validation rules to "just wo

[2017-04-30 18:32] #21 closed

[2017-04-30 18:32] #54 closed

[2017-04-30 18:34] niieani commented on #21
An example of using Karma/Mocha with `aurelia-testing` landed in master, in the skeleton-navigation repo.

[2017-04-30 18:35] niieani commented on #54
An example of using Karma/Mocha with `aurelia-testing` landed in master, in the skeleton-navigation repo. If you keep experiencing these problems, please let me know here.

[2017-05-06 03:33] nashwaan opened #64 "How to change base folder for StageComponent.withResources()?"
This `aurelia/testing` repo uses JSPM for compilling and running tests and everything works great. But I am struggling with one thing here: How can I change the base folder for all my StageComponent.withResources() to be based on `'./src'`, for example, so that I can write this:
[code]
Instead of:
[code]

______

On the other hand, using the navigation skeleton `aurelia/skeleton` repo which is bas

[2017-05-06 03:56] nashwaan opened #65 "How to use async/await syntax with this repo"
This `aurelia/testing` repo is based on JSPM. I am trying to get `async/await` syntax working with this JSPM setup so that we can re-write the `component-tester.spec.js` as the following:

[code]

As you can see, using `async/await` in the `beforeEach()` eliminates the necessity to repeat `component.create(bootstrap).then(() => {` in all the specs. Also, calling `done()` is not required in every s

[2017-05-07 12:02] nashwaan commented on #21
The updated skeleton repo has solved this issue. Thanks @niieani .

[2017-05-08 01:44] jdanyow commented on #65
Is there an error your hitting? Problem transpiling async/await with babel? I think there's might be a problem with your `it(...)` implementations. They should be something like this:

[code]

[2017-05-08 03:35] nashwaan commented on #65
I get these errors:

[code]

I don't get any transpliation errors because of async/await syntax.

Also, I am using `async/await` syntax in `beforeEach()` as you can see in my first post and I am not using this syntax in `it()` specs as I am trying to avoid manually constructing component `component.create(bootstrap)` in every spec.

In fact, I used the same method used for creating component as in

[2017-05-08 03:44] nashwaan commented on #65
Looking at the [webpack sekeleton](https://github.com/aurelia/skeleton-navigation/tree/master/skeleton-esnext-webpack), I think the way @niieani solved it is by using jasmine async in [karma-bundle.js](https://github.com/aurelia/skeleton-navigation/blob/05480635d74ba6d115a917f0bd4b22e45df852ac/skeleton-esnext-webpack/test/karma-bundle.js#L4-L7):
[code]

I tried to add these lines in the test [setu

[2017-05-09 02:53] thinkOfaNumber commented on #40
I'm still getting this error with the latest skeleton-typescript-webpack.

I added a component "my-component" from the docs http://aurelia.io/hub.html#/doc/article/aurelia/testing/latest/testing-components/3 and tried to test it, and I get the error:

        Error: Cannot call ComponentTester.dispose() before ComponentTester.create()
            at ComponentTester.dispose (test/karma-bundle.js:36

[2017-05-22 12:22] guidocecilio opened #66 "How to mock a service using the HttpClient imported from 'aurelia-http-client'?"
How to mock a service using the HttpClient imported from 'aurelia-http-client'?

This is the service code:
[code]

This is the test code:
[code]

Is there any documentation available about [http-client-mock](https://github.com/aurelia/http-client-mock)?

Thanks a million in advance for all your support.

[2017-05-25 18:39] jmzagorski commented on #57
i am also having the same issue with webpack. I included my project.json aurelia/jasmine/karma related dependencies and my test. It seems that after the `SlotCustomAttribute` is found in the container but it has an `undefined` dependency that is created in the `Container.Prototype.._createInvocationHandler(fn)`. Not sure if that helps any.

[code]

[code]

[2017-05-31 03:25] EisenbergEffect commented on #66
Please try asking this question in the Gitter channel or on Stack Overflow. Thanks!

[2017-05-31 03:25] #66 closed

[2017-06-12 12:45] andlebed opened #67 "Unable to test components with sass imports in view"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.12.5

* **Node Version:**
7.9.0

* **NPM Version:**
5.0.3

* **JSPM OR Webpack AND Version**
webpack 2.6.1

* **Language:**
ESNext

**Current behavior:**
I'm trying to test a component that requires SCSS in its view with Jest
[code]
Test has a normal s

[2017-06-27 21:36] chrsmrtn- opened #68 "waitForElement fails with Promise.race is not a function"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
7.4.0

* **NPM Version:**
4.3.0

* **JSPM OR Webpack AND Version**
N/A

* **Browser:**
Chrome 59, Firefox 54

* **Language:**
all

**Current behavior:**
When attempting to use component.waitForElement I get an error saying "Pro

[2017-06-27 22:08] chrsmrtn- commented on #68
Current tsconfig.json file when testing. I noted that I was targeting es5 and I believe Promise.race was introduced with es6.
[tsconfig.json.txt - target es5](https://github.com/aurelia/testing/files/1106955/tsconfig.json.txt)

Then I tried updating my tsconfig.json to target es6 and I still got the same results
[tsconfig.json.txt - target es6](https://github.com/aurelia/testing/files/1106959/tsco

[2017-07-02 05:49] EisenbergEffect commented on #68
If you want to use Promise.race, you need a polyfill that includes that. It's unrelated to Aurelia.

[2017-07-02 05:49] #68 closed

[2017-07-02 11:36] suneelv opened #69 "Unable to test bindable property changes in a view model"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.1

**Please tell us about your environment:**
* **Operating System:**
OSX

* **Node Version:**
7.9.0

* **NPM Version:**
4.2.0

* **JSPM OR Webpack AND Version**
webpack 2.6.1

* **Browser:**
all | Chrome XX | Firefox XX | Edge XX | IE XX | Safari XX | Mobile Chrome XX | Android X.X Web Browser | iOS XX Safari | iOS XX UIWebVie

[2017-07-02 21:22] EisenbergEffect commented on #69
You need to actually use the component testing library to test components. See docs here: http://aurelia.io/hub.html#/doc/article/aurelia/testing/latest/testing-components

[2017-07-02 21:22] #69 closed

[2017-07-03 06:55] suneelv commented on #69
I don't want to test the custom element's view. Is it not possible to just test a custom element's view model?
http://patrickwalters.net/unit-testing-your-es6-view-models-my-best-practices-for-aurelia/
I know the above article is old, but it seems like a reasonable way to test view models.

If that is not an option, then it would be great if we can do shallow rendering (#20).

[2017-07-03 07:33] EisenbergEffect commented on #69
Bindables require runtime infrastructure. That's why you have to use the testing framework. It has nothing to do with the view.

[2017-07-03 09:32] suneelv commented on #69
@EisenbergEffect  thanks for the info. I will comment on the other referenced issue as that is the reason which made us try to test our custom elements in this way

[2017-07-03 09:34] suneelv commented on #20
We have very complex custom elements which require many other custom elements. To test any one of the complex custom element we had to mock the dependencies of all the other required custom elements which is not ideal.
As @yacuzo already mentioned, if the component tester provides a way to only render the top level custom element, then it would greatly reduce our element setup for testing.

[2017-07-03 15:44] chrsmrtn- commented on #68
Thanks @EisenbergEffect ! I'm using bluebird polyfill.  This was all tested too under the base esnext and typescript projects using Aurelia CLI.  Maybe I'm missing a configuration option that I need to enable in those project to get the Promise.race to work?  I'll do some more digging.

[2017-07-03 16:37] chrsmrtn- commented on #68
Okay got it fixed! Thanks again @EisenbergEffect for pointing me in the right direction. In my environment I'm using a project that was generated from Aurelia CLI.  This project naturally includes bluebird, but it uses the bluebird.core.js file which doesn't include the Promise.race function. Once I adjusted the Aurelia.json file so it references bluebird.js instead, I now have access to Promise.r

[2017-07-09 15:00] MarcScheib opened #70 "Testing a custom attributes' valueChanged() hook"
**I'm submitting a bug report**

* **Library Version:**
^1.0.0-beta.3.0.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.1.3

* **NPM Version:**
5.0.3

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
Chrome

* **Language:**
ESNext

**Current behavior:**

When testing a custom attribute with one bound value and `valueChanged()` m

[2017-07-16 10:49] suneelv commented on #70
@MarcScheib  doing the assertion after a timeout might work as valueChanged callbacks are not called synchronously

[code]

[2017-07-16 13:27] MarcScheib commented on #70
Yes, that worked @suneelv . Thank you!

[2017-07-17 16:57] michaelbull opened #71 "Cannot use ComponentTester example from skeleton-navigation with karma-typescript"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.1

**Please tell us about your environment:**
* **Operating System:**
Linux (Fedora 25)

* **Node Version:**
6.11.0

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
webpack 3.2.0

* **Browser:**
all

* **Language:**
all

**Current behavior:**

Components tested using the `ComponentTester` and `StageComponent` are

[2017-07-19 13:47] michaelbull opened #72 "Type inconsistency in waitFor, waitForElement, & waitForElements"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.1

**Please tell us about your environment:**
* **Operating System:**
Linux (Fedora 25)

* **Node Version:**
6.11.0

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
webpack 3.3.0

* **Browser:**
all
* **Language:**
all

**Current behavior:**
The type definition for [`waitForElement`](https://github.com/aurelia/tes

[2017-07-19 20:36] michaelbull commented on #71
Looking further into this issue it seems that running Karma's debugger reveals the following console error:

However, I am explicitly [calling `initialize`](https://github.com/michaelbull/aurelia-typescript-webpack-starter/blob/karma/test/karma-setup.ts#L5) from `aurelia-pal-browser`. Is there something more I need to do to use PAL in the browser?

[2017-08-10 07:12] AdamWillden commented on #57
Going to close this. Not sure if it was fixed in a dependency change or my move to jest but I uncommented the test and it passed without exception.

[2017-08-10 07:12] #57 closed

[2017-08-10 07:14] AdamWillden commented on #57
It may be that now I'm using jest I also import `aurelia-pal-nodejs` and call `globalize()` which may be the same fix as is mentioned in issue [aurelia/pal-browser#17](https://github.com/aurelia/pal-browser/issues/17) referenced above.

[2017-09-05 07:44] thinkOfaNumber commented on #40
To reply to myself (and anyone following) my problem was that I _should_ have declared my component like this:

    StageComponent.withResources(PLATFORM.moduleName("path/to/component"));
but I didn't have the `PLATFORM.moduleName`

I also didn't see the resulting error:

    Error: Unable to find module with ID: path/to/component'
because I didn't have a `catch()` handler on the component create

[2017-09-13 04:35] rathwell opened #73 "Lifecycle Helpers Not Working with Jest"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.1

* **Operating System:**
Windows 10

* **Node Version:**
6.11.2

* **NPM Version:**
3.10.10

* **JSPM OR Webpack AND Version**
webpack 3.5.5

* **Browser:**
all

* **Language:**
ESNext

**Current behavior:**
The lifecycle helpers do not work with Jest (at least in my setup).

When running Jest with the "node" testEnvironment

[2017-10-17 00:03] sebandres opened #77 "boundTo is ignored and class default values are used to render view"
**I'm submitting a bug report**

* **Library Version:**
 "aurelia-loader-nodejs": "1.0.1",
    "aurelia-pal-nodejs": "1.0.0-beta.1.0.0",
    "aurelia-protractor-plugin": "1.0.3",
    "aurelia-testing": "1.0.0-beta.3.0.1",
    "aurelia-webpack-plugin": "2.0.0-rc.2",

  "aurelia-bootstrapper": "2.1.1",
    "aurelia-fetch-client": "1.1.2",
    "aurelia-framework": "1.1.4",
    "aurelia-history-browse

[2017-10-17 02:10] tomtomau commented on #77
It is my understanding that this is not a bug, but rather a simple misunderstanding of the examples :)

`boundTo` will simply create scoped data for use in the view.

By that I mean, the view you're using is
[code]

But if you changed to:

[code]

Then this will render "Hello Peter, how are you?".

When the templating goes through, it sees ${firstName} and can replace this with a value because you

[2017-10-17 02:44] sebandres commented on #77
Hi @tomtomau!

Indeed your example does show how to use binding properly, I guess a more complex example might be in order for the docs to help newcomers to the framework :D

My goal was to test the component as whole (View and Code) to simulate different renderings of different inputs.

I did try something similar to what you posted unfortunately I must have not gotten the right combination of in

[2017-10-17 02:44] #77 closed

[2017-10-17 22:22] sebandres commented on #63
I have the exact same scenario/problem, I am trying to test my view model without having to spin up Aurelia (I just want to call the class itself) and I get the ".plugin('aurelia-validation)" to your main.js?" given validation rules seem to have been built to run only inside of Aurelia.

[2017-11-21 15:46] BBosman commented on #71
I'm having the same issue only I'm not using async/await but Promises.

Some quick debugging indicates that the Promise returned by `component.create` never resolves (or rejects) for whatever reason, so the `then` or `catch` code never gets executed.

[2017-11-21 19:18] xenoterracide commented on #66
I'll be honest, I kind of wish for an officially documented way to do this, preferably one that made it easy to have different app contexts, so you could easily test that a different user got different things, or different data resulted in a different view.

[2017-11-28 12:33] dsab123 commented on #71
Same issue as @BBosman although I'm not using PLATFORM.

After some digging it looks like the `aurelia.start()` inside `component.create()` never resolves.

I'm on Windows 10 with node version 6.9.2, npm version 3.10.9 and jspm version 0.16.53 .

[2017-11-28 13:25] dsab123 commented on #71
it seems that for some reason the resource I'm including in `withResources()` is not loading, and this is causing `aurelia.start()` to hang. I loaded up localhost:[port defined in karma.conf.js] and saw other resources, but not the one I was using in my test. For some reason the particular resource is not loading. So this is probably not the same underlying issue.

[2017-12-07 15:29] jereckley commented on #63
To reiterate "Unit testing ViewModels with **ValidationRules** are impossible if you're using WebPack or JSPM"... the example link https://github.com/aurelia/validation/blob/master/test/validate-binding-behavior.ts doesn't seem to import **ValidationRules**. Kinda stuck not being able to test vm's/services importing **ValidationRules**. Thanks!

[2017-12-15 20:51] jereckley commented on #63
As a quick follow up I got it all working... and quite nicely. It really just needed Aurelia's component testing setup as mentioned and the needed services mocked out. No problem with the ValidationRules anymore and @jdanyow your examples were most helpful and awesome. Thanks!

[2018-01-14 20:05] zewa666 commented on #71
The issue was tracked down to the way how karma-typescript uses their own commonjs wrapper and it Not being compatible to our loaders. Havent figured out a way to solve that

[2018-02-04 21:35] dkent600 opened #80 "TypeError: m.configure is not a function"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.4.0.0

**Please tell us about your environment:**
Windows 10

* **Node Version:**
9.4.0

* **NPM Version:**
5.6.0

* **Language:**
javascript

**Current behavior:**
When I run the test given here: http://aurelia.io/docs/testing/components#testing-a-custom-element I get the following error:

      TypeError: m.configure is not a fun

[2018-02-13 16:39] RomkeVdMeulen commented on #20
Exactly this. For example, say I have a component `Mycomponent`:

[code]

I've already written a separate test for `Mysubcomponent`, mocking out services and the like. I don't want to have to mock out those same services again in my test of `Mycomponent` just to test whether the `if.bind` works as expected.

Is there some workaround to mock out `mysubcomponent` during the test of `mycomponent`?

[2018-02-13 21:55] zewa666 commented on #20
This pretty much sounds like a shallow rendering of the top level component and ditching childs. So essentially If we'd unregister the child elements they should be rendered as normal html.

[2018-02-15 10:04] RomkeVdMeulen commented on #20
@zewa666 Any way to do that manually with the current API?

[2018-02-15 10:36] zewa666 commented on #20
We're currently looking into it to find the manual way. Will post back here and then go for a nicer overall API.

[2018-02-15 10:38] RomkeVdMeulen commented on #20
@zewa666 Great! Thank you all for the prompt support.

[2018-02-15 19:24] dweber019 commented on #67
Have time same with jest.

[2018-02-15 19:50] dweber019 commented on #73
@rathwell could you tell me how you resolved this error:
[code]

[2018-02-16 08:56] RomkeVdMeulen commented on #36
So which is better? `new Promise(setTimeout)` or `taskQueue.queueMicroTask()`?

[2018-02-16 10:19] zewa666 commented on #36
@RomkeVdMeulen https://github.com/aurelia/testing/pull/79/files see the use of flushMicroTaskQueue. I just couldn't merge it so far as it seems there is some bogus in getting it to work with our test-environment :(

[2018-02-16 19:24] Alexander-Taran commented on #73
@dweber019 by manually upgrading "aurelia-pal-nodejs": "^1.0.0-beta.3.0.0",

[2018-02-16 19:55] rathwell commented on #73
@dweber019 I actually gave up on Jest because after getting past the main issues in this ticket, we hit additional issues when testing ag-grid-aurelia.  I did get it mostly working with straight aurelia, but still needed to occasionally rebind in places where is was not necessary to do so with Karma.

Unfortunately, I can't remember exactly what changes I made since we didn't end up going that rou

[2018-02-16 19:55] #73 closed

[2018-02-16 21:14] dweber019 commented on #73
@Alexander-Taran & @rathwell thanks for your responses. I made it work in my repo https://github.com/w3tecch/aurelia-typescript-boilerplate. Hopefully for bigger scenarios.

[2018-02-17 13:58] kamaleswaran commented on #71
got the same issue. are there any work around for this?

[2018-02-21 22:25] Alexander-Taran commented on #64
For Jest, CLI generates jest-pretest.ts with contents like this
[code]
and it is referenced in Jest configuration in package.json.
Options.relativeToDir - is what you are looking for

[2018-02-21 23:08] Alexander-Taran commented on #73
Oh the irony, now I got to the same issue (-:
It comes down to line
[code]
and NodeList is not there

[2018-02-23 18:19] Alexander-Taran opened #83 "waitForElement throws in context of pal-nodejs"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.4.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.9.4

* **NPM Version:**
yarn 1.3.2

* **Language:**
all

**Current behavior:**
https://github.com/aurelia/testing/blob/b0fb939fa40f1067ac72d84c7775088f8b8068a6/src/wait.ts#L27
When tests are run with jest  there is no instanc

[2018-02-24 09:04] Alexander-Taran commented on #80
Can you provide your test file?

[2018-02-24 10:51] michaelbull commented on #72
Looks like this was fixed with https://github.com/aurelia/testing/pull/76

[2018-02-24 10:51] #72 closed

[2018-02-24 11:47] Alexander-Taran commented on #38
Seems like it is done

[2018-02-24 12:05] dkent600 commented on #80
@Alexander-Taran What test file?  Do you mean this, that I referred-to in the original comment?

http://aurelia.io/docs/testing/components#testing-a-custom-element

[2018-02-24 20:27] Alexander-Taran commented on #80
In my jest config there is a setting
`    "testEnvironment": "node",`
And it came from what Aurelia CLI does.. It may well be that not having it confuses aurelia under testing and there is wrong loader selected and everything goes sideways.. (-:

Here is what CLI produced for me:
[code]

Yeah. I just tried to remove it from my config and it blew up.. not the same error, but it is important..

[2018-02-25 02:35] Alexander-Taran commented on #83
Figured it'd be more logical to augment pal-nodejs

[2018-02-25 11:38] Alexander-Taran commented on #63
Can be closed

[2018-02-25 21:23] #63 closed

[2018-03-01 22:28] dkent600 commented on #80
Please refer to the issue I created on aurelia-framework:  https://github.com/aurelia/framework/issues/869

[2018-03-01 22:30] dkent600 commented on #80
@Alexander-Taran adding `"testEnvironment": "node"` makes no difference for me (I think it was always in there).

[2018-03-02 11:11] TimVevida commented on #63
@jereckley I keep struggeling to get aurelia-validation to work properly. In my case, the component test is a little more complicated, using a parent ViewModel which contains the validation which should be picked up in my component.
Anyway, could you post a code sample of your working configuration?

[2018-03-02 13:46] Alexander-Taran commented on #80
the culprit is
[code]

see https://github.com/aurelia/framework/issues/869 for discoveries
with the repro zip attached.

I propose to close this one in favor of https://github.com/aurelia/cli/issues/834

[2018-03-02 14:06] #80 closed

[2018-03-02 23:50] Alexander-Taran commented on #42
Stale..  since november 2014,   but interesting

[2018-03-03 00:53] Alexander-Taran commented on #43
Possible with jest to mock out 'modules' by pattern name..

https://github.com/justinsisley/Jest-CSS-Modules

[2018-03-03 21:19] EisenbergEffect commented on #42
@PWKad Are you able to create a PR to add this feature? If not, I'd like to close this out. Please let me know.

[2018-03-03 21:25] #43 closed

[2018-03-03 22:57] #83 closed

[2018-03-05 10:04] Alexander-Taran commented on #49
@Todberg  Did you try to name them other way?

Is it still relevant?

[2018-03-05 13:36] jereckley commented on #63
@TimVevida Sorry it took so long to respond... we(or a lot of us) lost power on the east coast for a bit. I also am working on a huge front end application and the tests are complex. I'm not sure posting them would help to much but if there is some way we can work on that together I'd be happy to. Honestly it's still super buggy and we kinda have put it(html state unit tests) on the back burner be

[2018-03-06 21:33] ryan-smith-virteom commented on #71
In my requirejs project I tracked this down to window.require being reassigned by one of my dependencies that was declaring it's own global require because define.amd was undefined. aurelia-karma.js reassigns global.define and it loses the amd property so I readded it.

    var originalDefine = global.define;
    global.define = function (name, deps, m) {
      if (typeof name === 'string') {

[2018-03-08 08:37] TimVevida commented on #63
Ah, it seems you have your own problems. Let me struggle with this a bit more.

[2018-03-08 10:17] RomkeVdMeulen commented on #20
Any progress on this? I've been stubbing support for services used by subcomponents, and it's starting to become a bit tiresome.

[2018-03-11 00:41] bigopon commented on #20
We can do this, via hooking to `afterCompile`, but how would the API would be like:

[code]

or

[code]

?

[2018-03-11 07:31] zewa666 commented on #20
How about .shallow() and exclude all internally?

[2018-03-12 01:14] Alexander-Taran commented on #17
Is this still relevant?

[2018-03-12 01:48] EisenbergEffect commented on #17
@AStoker Thoughts?

[2018-03-12 06:46] bigopon commented on #20
What about the `<require/>` statement, do we skip it entirely ? as when loading a module like `foo.js` to get custom element `<foo/>`, we might have additional resource to load ?

[2018-03-12 14:50] AStoker commented on #17
Oh gee, this is so far back. I'm going to go ahead and close this, as it's not a problem, and if it's been this long between initial request (and no other "me too's") then I think we'll be fine. If I come back up on this later, I'll reopen.

[2018-03-12 14:50] #17 closed

[2018-03-15 10:20] RomkeVdMeulen commented on #20
It might be good to have the option of excluding some but not all subcomponents, in addition to `.shallow()`

@zewa666 Have you found a current workaround for this problem?

[2018-03-21 18:19] michaelbull commented on #71
@ryan-smith-virteom I'm not using the CLI so I think that's unrelated.

[2018-03-24 23:10] Alexander-Taran commented on #64
[code]

[2018-03-24 23:12] #64 closed

[2018-03-24 23:14] Alexander-Taran commented on #38
Maybe can be closed

[2018-03-24 23:15] EisenbergEffect commented on #38
Looks like we added some docs. Also, I think this will be much improved in vNext as well.

[2018-03-24 23:15] #38 closed

[2018-04-19 12:13] smithmx commented on #55
Is this still an active bug?  I'm experiencing the same issue.

[2018-04-24 22:26] Alexander-Taran commented on #55
you can try to
`await component.create(bootstrap)` in `beforeEach`
because it seems that `afterEach` is called as soon as Promise created in the test.

[2018-05-25 13:41] bigopon commented on #20
I think it's quite hard to shallow elements by name, and I think it's the loading sub module behavior that we don't want, not the rendering the elements.

For example:

```module A --requires--> module B --requires--> module C```

When saying the test should ignore `b`, and `c`, does it implies (1) do not touch module B and module C, or (2) load module B, and load module C but do not do anything a

[2018-06-11 06:23] tomtomau opened #85 "Cannot test twoWay binding in Component test"
**I'm submitting a bug report**

* **Library Version:**
1.0.0-beta.3.0.1

**Please tell us about your environment:**
* **Operating System:**
OSX 10.13.4

* **Node Version:**
v8.9.3

* **Yarn Version:**
1.3.2

* **Language:**
ESNext

**Current behavior:**
Properties in BindingContext in a component test does not update when using twoWay binding.

In my test, I create a bindingContext with a boolean

[2018-06-12 06:18] tomtomau commented on #70
This affect me as well, and the above work around does not resolve it.

[2018-09-15 14:35] stevies commented on #67
Any update on plans for fixing this?  The workaround appears to work.  And you can add:

[code]
to jest-pretest..js to set this up for every test.  So not a big deal - but maybe it should be fixed so the work-around is not needed.  Or is there a setting in Webpack/Jest that I have missed?

[2018-09-17 07:19] aminmsvi commented on #67
Thanks for the workaround, It fixed that error. But now I get a new error `Could not parse CSS stylesheet`, but this one does not cause my tests to fail and they run successfully. Not sure if there is a problem with how I load `.scss` files using webpack or there is a problem in module itself. It would be great if someone could point me to the right direction since I am stuck with this error for a

[2018-09-19 02:24] silbinarywolf opened #86 "<compose> inside a view doesn't render during Jest tests run (seems to become ready *after* execution)"
**I'm submitting a bug report**

**Library Version:**
- aurelia-testing@1.0.0-beta.4.0.0
- aurelia-loader-nodejs@1.0.1

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
8.11.1

* **Yarn Version:**
1.5.1

* **JSPM OR Webpack AND Version**
JSPM 0.16.32 | webpack 2.1.0-beta.17

* **Browser:**
N/A

* **Language:**
TypeScript 3.0.1

**Current behavior:*

[2018-09-19 03:56] Sayan751 commented on #86
It is difficult to suggest any workaround without seeing the code for unit testing. However, there are a few things you can try as workaround.

1. Switch to [`manuallyHandleLifecycle`](https://aurelia.io/docs/testing/components#manually-handling-lifecycle) to have a better control on the lifecycle, if needed.
2. Wait explicitly for the stuffs to get completed, especially when you can't wait on the

[2018-09-19 04:01] silbinarywolf commented on #86
Thanks for the advice! I opted to go with 1.

My current solution (which I literally just created a few mins ago, so might not be robust) is to do something like this.

Im not sure **why** simply using a few promises gives it enough time and I might want to add some code to guarantee that the <compose> was mounted, but this will do for now.

[code]

[2018-09-19 04:53] Sayan751 commented on #86
@silbinarywolf By doing so, you are basically telling jasmine to wait. Or in other words, your assertions are only executed once the previous promises (involving the lifecycle hooks of the custom element) are resolved.

[2018-09-26 03:48] tomtomau commented on #85
Bump - are things like this, shallow rendering etc going to be considered further for vNext?

[2018-09-26 03:51] EisenbergEffect commented on #85
In general, testing is massively improved in vNext. We've got almost 17,000 unit tests on vNext now, I believe. We've built some utiliities to enable testing things like our `repeat`, `compose` and `if` that will probably be useful to the community. When we get a little further along, I can see us extracting those into a similar testing library for vNext. But again, testing is much simpler in gene

[2018-09-26 08:54] tomtomau commented on #85
Excellent, thank you for your prompt reply @EisenbergEffect! Eagerly anticipating an alpha!

[2018-09-26 12:36] jaas88 commented on #71
Hello,

I am having this issue while testing with Jasmine & Karma.

[code]

on component.viewModel.myAtrr is always throwing
`WARN: '%cUnhandled rejection TypeError: Cannot read property 'myAtrr' of undefined`

[2018-10-16 20:57] Alexander-Taran commented on #86
@silbinarywolf can this be closed?

[2018-10-16 22:01] silbinarywolf commented on #86
Sure.
I'll close it.

[2018-10-16 22:01] #86 closed

[2018-10-22 18:19] elitemike commented on #71
I was hoping to see this issue resolved as it's what I'm hitting right now.  The ONLY way I have gotten it to work for me is to call create in my beforeEach and within each spec.  If i eliminate either one, I can't see the component.

I ended up making a base class for my tests, in my case this is the only component i need set up so it works for me. I can fix my code in one place instead of each s

[2018-10-22 23:11] bigopon commented on #71
If the issue was `no PLATFORM.Loader was specified`, should it be resolved by simply add `import 'aurelia-loader-webpack'` to the `setup.ts`?

[2018-10-22 23:13] michaelbull commented on #71
@bigopon karma-typescript doesn't use webpack, but regardless the example I listed in the issue's first post shows [explicit registration of `aurelia-loader-default`](https://github.com/michaelbull/aurelia-typescript-webpack-starter/blob/karma/test/karma-setup.ts#L1)

[2018-10-22 23:25] bigopon commented on #71
@michaelbull I missed that. I saw `PLATFORM.moduleName` and assumed you used webpack

[2018-11-23 10:14] RomkeVdMeulen commented on #20
In theory the module files for subcomponents shouldn't even be loaded. However, modules with custom binding behaviors or value converters do need to be loaded for a proper test. I'm not sure you can distinguish them a priori, so some blacklisting or whitelisting API will probably be necessary.

[2019-02-10 01:04] Alexander-Taran commented on #55
[code]

[2019-02-10 01:05] Alexander-Taran commented on #49
[code]

[2019-02-10 01:07] Alexander-Taran commented on #42
[code]

[2019-02-10 01:07] Alexander-Taran commented on #37
@EisenbergEffect  can be closed?

[2019-02-10 01:13] #55 closed

[2019-02-10 01:14] #49 closed

[2019-02-10 01:14] #42 closed

[2019-02-10 01:15] #37 closed

[2019-02-12 11:39] RomkeVdMeulen commented on #20
There doesn't seem to be any progress on this. Is there anything I can do to help further lock down the API for this?

[2019-02-12 12:42] bigopon commented on #20
@RomkeVdMeulen If this is only stubbing dependencies from `<require>` element, then couple of override methods related to dependency management in `TemplateRegistryEntry` will work, as once demonstrated by lazy global resources from @huochunpeng

For static view strategy, either via `static $view` field/method or `@view` decorator, we just need to override method `loadViewFactory` of it to adjust

[2019-02-14 09:17] RomkeVdMeulen commented on #20
@bigopon I'd like to try this out on our tests, see if it does what we need. I'm not sure where to start though. Is there a way for me to patch something locally to try out your ideas?

[2019-02-14 10:34] bigopon commented on #20
Here is the answer from @huochunpeng in a discourse thread https://discourse.aurelia.io/t/lazy-load-global-custom-elements/1627/8

It's basically an override on `TemplateRegistryEntry.prototype.template` setter in `aurelia-loader` module to automatically add dependency based on a globally available path, locally to that template.

We can apply the same technique, to automatically remove all `<requ

[2019-02-15 00:41] EisenbergEffect commented on #20
@RomkeVdMeulen If this works for your project, perhaps we can extract your code into a helper method that we add to this testing library. We can start with the require-based scenario first and then support static views in a second iteration. If most people are using require-based views then that lets us get the bulk of people a solution sooner.

[2019-02-15 16:29] RomkeVdMeulen commented on #20
@bigopon Thanks! I got it to work with our `<require>` based setup. I adjusted @huochunpeng's approach a bit: there's no need to traverse the whole template's tree, we can simply filter out the unwanted dependencies afterward:

[code]

Example use (made this up without checking):

[code]

[2019-02-15 22:55] bigopon commented on #20
@RomkeVdMeulen Yes this way is better, when it's only about dependencies removal. Would you accept the invitation of helping folks out please 😁

[2019-02-16 00:15] EisenbergEffect commented on #20
We'd love a pull request @RomkeVdMeulen 😄

[2019-02-16 04:03] RomkeVdMeulen commented on #20
I went home for today. I'll take a look at it monday.

[2019-03-04 09:02] michaelw85 commented on #67
Running into the same issue. Using the work around only replaced the initial error with the error mentioned by @aminmsvi. Seems like the text handler is not capable of handling the sass file correctly.
Did anyone manage to really fix this issue?

[2019-03-04 09:33] michaelw85 commented on #67
@aminmsvi @andlebed
I added the following to my jest-pretest setup to get it working without throwing errors:
(this will ignore the styling in jest)
[code]

[2019-03-04 15:22] michaelw85 opened #90 "Jest aurelia-router mock breaks StageComponent"
**I'm submitting a bug report**

* **Library Version:**
"aurelia-testing": "^1.0.0"

**Please tell us about your environment:**
* **Operating System:**
Windows [10]

* **Node Version:**
v10.15.1

* **NPM Version:**
6.4.1

* **Webpack**
"webpack": "^4.27.0",

* **Browser:**
N/A

* **Language:**
TypeScript 3.3.1

**Current behavior:**
Error occurs when using `StageComponent` in combination with a au

[2019-03-05 08:18] zewa666 commented on #90
But isn't the approach with mocking a dependency via the __mocks__ folder that they are [automatically loaded](https://jestjs.io/docs/en/manual-mocks#mocking-node-modules). In that case it would make sense since the mock file is empty and thus leading to an error since nothing is exported

[2019-03-05 08:48] michaelw85 commented on #90
@zewa666 Thanks for the info, I was under the impression mock are not automatically loaded since [automock](https://jestjs.io/docs/en/configuration#automock-boolean) is false by default. Reading the documentation you are linking states differently for node modules. This gives me some new insight and I will have another look.

P.S I also had a complete mock with content and it also failed so I figu

[2019-03-05 09:18] michaelw85 commented on #90
@zewa666 This documentation pointed me into the right direction!

To get StageComponent (quickly) working again I added:
`jest.unmock('aurelia-router');`

The jest docs really confused me I was not expecting automatic mocks which made me think something went wrong in the StageComponent module.

[2019-03-05 09:18] #90 closed

[2019-03-05 12:28] zewa666 commented on #90
Yeah Jest docs are massive but somewhat hard to digest. Anyway Im glad you found the issue

[2019-03-05 12:30] michaelw85 commented on #90
Thanks allot for your help this resolved multiple issues (seemingly unrelated) I was struggling with. I finished a PR to the jest docs today adding a note to the automock setting.

[2019-03-07 07:16] michaelw85 commented on #67
Anyone stumbling upon this issue and looking for a solution please see: https://github.com/aurelia/cli/pull/1068#issuecomment-470309926

TL&DR
Install [jest-transform-stub](https://github.com/eddyerburgh/jest-transform-stub)
Add `".+\\.scss$": "jest-transform-stub"`

[2019-03-24 00:00] bigopon commented on #85
@tomtomau It's failing because bindings update happens after 1 micro task flush. it should work if you do:
[code]

[2019-03-25 22:19] tomtomau commented on #85
Thanks for replying @bigopon

That still didn't seem to work for me. I even tried explicitly flushing the queue:

https://github.com/aurelia/skeleton-navigation/commit/186aacae15f5b4a630fac6aae29aed43347b3b13

[2019-03-26 18:06] #67 closed

[2019-04-24 01:30] tomtomau commented on #85
I managed to get this to work by waiting for the value to be updated, and sure enough it eventually did update within the timeout period! I think this is not failing, but I'm confused why flushing the queues didn't solve it.

[2019-06-21 09:30] michaelw85 opened #91 "[ComponentTester] ref + innerhtml not working"
**I'm submitting a bug report**
ref and innerhtml not working when using the component tester.

* ** Steps to reproduce **
1) checkout repo: https://github.com/michaelw85/repo-aurelia-test-issue
2) npm install
3) au jest

au jest will result in an error for the ref issue.
the innerhtml issue is visible in the jest snapshot.

To verify the icons are actually functioning in a normal app use `au run`

[2019-06-21 13:54] bigopon commented on #91
[code]

With test:
[code]
It works fine. I think there's something wrong with Jest.

[2019-06-21 13:55] bigopon commented on #91
@michaelw85 The above is for your `my-icon`

[2019-06-21 14:11] michaelw85 commented on #91
@bigopon 😲 thx for the reply I did not consider Jest to cause the issue... 🤔 I wonder what it could be.

[2019-06-21 14:15] bigopon commented on #91
@michaelw85 maybe Jest is not the issue, but the combination of Jest and a few other stuff? In anyway, I think for normal looking templates, it will & should work just fine

[2019-06-21 14:18] michaelw85 commented on #91
I might investigate a bit more at a later point in time. First thing that pops in my mind is if it might be related to `testEnvironment: 'node',`.

[2019-07-24 00:57] tomtomau commented on #85
I'm closing this as it was me not using it properly. Bindings updating is an async operation, so you must wait until the value updates. We use the `waitFor()` methods to achieve this.

[2019-07-24 00:57] #85 closed

[2019-10-03 10:16] RomkeVdMeulen opened #93 "Delegated handlers not cleared between tests"
**I'm submitting a bug report**

* **Library Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Linux (Ubuntu 18.04.3)

* **Node Version:**
8.16.1

* **NPM Version:**
6.8.0

* **JSPM OR Webpack AND Version**
JSPM 0.16.53

* **Browser:**
Chrome 77

* **Language:**
TypeScript 3.5.3

**Current behavior:**
When running a lot of tests, every so often I will get errors

[2019-10-03 10:51] bigopon commented on #93
This is an issue in vCurrent with `EventManager`, that we don't have a teardown mechanism in `EventManager`. Though I think it should be easy to add, could you help with this?

[2019-10-03 10:53] bigopon commented on #93
Maybe the first thing is let's have a look at a repro. Could you help share one?

[2019-10-03 13:45] RomkeVdMeulen commented on #93
The difficulty is that this only seems to occur under heavy load. I'll see if I can put something together that will reliably show the error.

[2019-10-03 17:26] RomkeVdMeulen commented on #93
I've managed to put something together that shows a handler being called multiple times when it shouldn't be. In this case it's caused by aurelia-dialog and not `click.delegate`, but the principle is the same. I based it on the esnext skeleton since I wanted to base my reproduction on Karma.

https://github.com/RomkeVdMeulen/aurelia-testing-delegate-bug

To reproduce:
[code]

Note that problems oc

[2019-10-08 08:42] JordyThien opened #94 "Unable to run unittest that contain ValidationRules"
**I'm submitting a bug report**

* **Library Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
V10.16.0

* **NPM Version:**
6.9.0

* **JSPM OR Webpack AND Version**
webpack 4.34.0

* **Browser:**
n/a

* **Language:**
TypeScript 3.1.2

**Current behavior:**
When running a test that tests a component which uses ValidationRules, the f

[2019-10-15 08:20] dymen1 commented on #94
This is caused by a parser in `aurelia-validation/src/property-accessor-parser.ts`, this parser filters the property name from the accessor function passed to the ensure method: `.ensure((a: App) => a.message)` which is then used to merge validation rules based on the returned property's name.
The parser only accepts the following "classic" function formats:
[code]
And fails on the following:
[cod

[2019-11-12 19:12] that-crazy-fox opened #95 "Tests using ComponentTester.manuallyHandleLifecycle() can cause unrelated tests to fail"
**I'm submitting a bug report**

* **Library Version:**
1.0.0

**Please tell us about your environment:**
* **Operating System:**
Windows 10

* **Node Version:**
10.16.0

* **NPM Version:**
6.9.0

* **JSPM OR Webpack AND Version**
JSPM 0.16.54

* **Browser:**
Chrome 78

* **Language:**
ESNext

**Current behavior:**
When using ComponentTester with `.manuallyHandleLifecycle()` (as shown [in the docu

[2020-02-09 07:34] saqibn commented on #94
add
/* istanbul ignore next */
before validation rules to skip the coverage till they fix the regex problem.

[2020-04-08 13:38] jfstephe opened #96 "setTimout is evil ;-)"
Hi,
Can the setTimeout be removed from [here](https://github.com/aurelia/testing/blob/bbef100d01b0c945792508f0847489739945014d/src/component-tester.ts#L82) please?

If this has been replaced with sinon fakeTimers this just causes all manner of problems.

Why is it there and can it be replaced by the aurelia task queue?

Ta,
John

[2020-04-11 00:11] bigopon commented on #96
@jfstephe did you run into any issues with a fakeTimers? Can you help describe it a bit more in details? There's no reason we cannot change it, but there's no other alternative. It's there, probably, to wait for all the micro-tasks to complete

[2020-05-10 23:43] baixiaoji commented on #73
when I upgrade node@12, having the same error

[2020-05-10 23:50] 3cp commented on #73
@baixiaoji did you try upgrading all deps to latest? Especially aurelia-pal-nodejs v2.0.0.

[2020-05-10 23:59] baixiaoji commented on #73
@3cp I did not having the aurelia-pal-nodejs dep, and my jest@24.8

[2020-05-11 00:00] 3cp commented on #73
Do you have `import {globalize} from 'aurelia-pal-nodejs';` in `test/jest-pretest.js`?

[2020-05-11 00:01] baixiaoji commented on #73
nope

[2020-05-11 00:03] 3cp commented on #73
Your app is probably not created by aurelia-cli. Pls show your package.json.

[2020-05-11 00:04] baixiaoji commented on #73
[code]

[2020-05-11 00:06] 3cp commented on #73
You were asking a vue issue in aurelia... it's wrong place...

[2020-09-01 17:34] RomkeVdMeulen commented on #70
I've run into a similar problem countless times in my own tests:

1. Update some value on the VM
2. Check the DOM: it hasn't been updated yet

The [go-to workaround](https://stackoverflow.com/a/49166748/485723) is to put step 2 inside a `setTimeout` or queue it as a macro task on Aurelia's `TaskQueue`. And that will solve the problem **most of the time**. But every once in a blue moon our CI serve

[2020-09-01 23:37] tomtomau commented on #70
@RomkeVdMeulen

Our solution has been to waitFor your assertion.

[code]

[2020-09-02 12:18] RomkeVdMeulen commented on #70
@tomtomau Thanks for the suggestion. I'm already using that construct in some places. But we have tens of thousands of assertions in our tests, and I fear if we use `waitFor` for all of them it will slow down the runtime of our tests to the point that it becomes impractical to run them.

[2020-09-02 15:01] bigopon commented on #70
@RomkeVdMeulen this is an issue with how our v1 setup the task queue. One trick that you can use to eliminate this problem forever is to reuse a single task queue instance in tests. There' many ways to do it, depends on your bootstrapping, one way is to wrap bootstrapper function with your one:

[code]
And later in your code, instead of `setTimeout`, you can inject the task queue from wherever, an

[2020-09-02 15:14] RomkeVdMeulen commented on #70
@bigopon Thanks for the tip! I'll try it out.

[2020-09-02 15:15] RomkeVdMeulen commented on #70
Also does that mean this won't be an issue anymore in V2?

[2020-09-03 03:30] bigopon commented on #70
Not at all, at least i believe so. For the above, make sure you flush all existing queues when disposing an app at the end of a test as well.

[2020-09-03 12:27] RomkeVdMeulen commented on #70
@bigopon I tried your suggestion: I re-used one task queue throughout the test run, making sure to manually flush the micro queue before assertions and during tear down. It didn't seem to make a difference. I'm still seeing intermittent failures where the DOM wasn't updated in time for the assertion.

I'm also trying to understand why flushing the queue manually should make a difference. Isn't the

[2020-09-03 14:00] RomkeVdMeulen commented on #70
I've been trying to create a minimal reproducable case, but so far without much luck. I've looked into all kinds of contributing factors, like async/await or computed properties, but as far as I can see none of those should be able to create a delay beyond the current event loop.

Perhaps the issue isn't with timing, but with some state not being properly cleaned between test runs, like with issue

[2020-09-03 15:25] RomkeVdMeulen commented on #70
It doesn't seem to be a case of stale view state. Let me give a simplified example of what I'm seeing:

[code]

[code]

[code]

And once in a dozen runs the output is:

[code]

Of course the real code has composition, more indirection, DI, computed properties, etc. but in essence this is what it boils down to.

[2020-09-06 16:40] bigopon commented on #70
@RomkeVdMeulen here's a test that can be used to verify your repro. You can un-comment the method call in `attached`  `setInterval` and decrease the interval to verify. It seems working fine to me
https://gist.dumber.app/?gist=735a4a0bc868bde5cc7469bd11692562

Edit: i gave you a wrong example code though, sorry! It should have been
[code]

[2020-09-07 15:37] RomkeVdMeulen commented on #70
@bigopon You're right, the repro works fine. I've been trying to narrow down where the delay is coming from, but as you can imagine with the delay only occuring randomly among lots of test runs it's very slow going.

Thanks for your help. If I do find the problem I'll let you know. For now just consider this closed from my side.

[2020-09-28 16:49] lemoustachiste commented on #70
Hijacking this thread to improve my general knowledge with this tool.

I was trying to verify that the click callback on a button was being called.

My initial implementation was with

[code]

That didn't trigger the click handler (called with `click.delegate`).

With the help of this comment https://github.com/aurelia/testing/issues/70#issuecomment-686568600 I realised I could use the `HTMLButton

[2020-09-28 23:37] bigopon commented on #70
@lemoustachiste there shouldn't be any issue with what you are trying to do. Can you help give a repro of what you want to do, based on the example here https://gist.dumber.app/?gist=650aecc59a32d08776692a4b5055b7c0

[2021-01-15 06:05] tomtomau commented on #37
I've tried to roll our own abstractions here to test routed components but ran into the same issue describe above

[2021-01-30 19:08] #71 closed

[2022-05-13 16:02] lebolo opened #101 "Can't resolve ./compile-spy or ./view-spy after 1.1.0 upgrade"
**I'm submitting a bug report**

* **Library Version:**
1.1.0

**Please tell us about your environment:**
* **Operating System:**
MacOS 12.3.1

* **Node Version:**
15.14.0

* **NPM Version:**
7.7.6

* **JSPM OR Webpack AND Version**
webpack cli 3.3.12 (webpack 4.46.0)

* **Language:**
TypeScript 3.9.7

**Current behavior:**
On running `npm run build:dev` (aliased to `webpack --extractCss --env.NOD

[2022-05-13 22:30] 3cp commented on #101
https://aurelia.io/blog/2022/5/10/aurelia-updates-for-may-2022/

[2022-05-14 10:23] #101 closed

[2022-05-16 12:14] milkshakeuk opened #102 "`jest-dom` added additional condition to `toBeVisible` preventing use in component test."
**I'm submitting a bug report**

* **Library Version:**
1.1.0

**Please tell us about your environment:**
* **Operating System:**
Windows 11

* **Node Version:**
16.5.0

* **NPM Version:**
7.20.0

* **JSPM OR Webpack AND Version**
webpack: 5.72.1

* **Browser:**
jest component test

* **Language:**
typescript

**Current behavior:**
We recently updated our dependencies and it looks like jest-dom [c

[2022-05-16 14:09] milkshakeuk commented on #102
@bigopon does this make sense to you? is there any way to fix this from the aurelia plugin?

[2022-05-16 22:55] bigopon commented on #102
you can see from the code here, the elements are supposed to be in the document if they are resolved from `waitForDocumentElement` https://github.com/aurelia/testing/blob/2c4bdea2112b6daa3e97f4b5ab922dd55b62f129/src/wait.ts#L53

Can you check again?

[2022-05-17 06:08] milkshakeuk commented on #102
If you look at the screenshot, `waitForDocumentElement` is what it is failing on, I have run the test multiple times, when I revert the version of `jest-dom` to an earlier version it works, it's only since they added the extra condition that it fails.

`toBeVisible` implementation calls `getRootNode()` which blows up saying it's not a function, I was thinking this would need to attach something to

[2022-05-17 07:42] milkshakeuk commented on #102
@bigopon I did some digging and found a [issue](https://github.com/testing-library/jest-dom/issues/354), it looks like [this](https://github.com/testing-library/jest-dom/issues/354#issuecomment-824025914) is how it was fixed for `vue-test-utils` testing package.

They can mount the component to the document body within the testing framework, can you add something similar to `aurelia-testing`? here

[2022-05-17 10:33] bigopon commented on #102
As you can see from this line https://github.com/aurelia/testing/blob/2c4bdea2112b6daa3e97f4b5ab922dd55b62f129/src/component-tester.ts#L72
All tests attach their root node to the document. So it's unlikely that the issue is in this package. Maybe your `jsdom` dep is old, and doesn't have `getRootNode()` implemented, if so, maybe upgrade jsdom?

[2022-05-17 12:41] milkshakeuk commented on #102
it looks like jsdom first introduced `getRootNode` in version `11.11.0`, however in my package lock I see this:

<img width="516" alt="image" src="https://user-images.githubusercontent.com/1087376/168811913-0736176b-9509-4f71-838e-64a7b97ef4a0.png">
<img width="512" alt="image" src="https://user-images.githubusercontent.com/1087376/168811977-f8083c2a-e7e7-42e2-81b0-301a7347f684.png">

it looks lik

[2022-05-18 11:21] milkshakeuk commented on #102
@bigopon I have opened a ticket with `jest-dom` as its likely something they should deal with.

https://github.com/testing-library/jest-dom/issues/458

[2022-05-19 09:04] milkshakeuk commented on #102
@bigopon I just realise we use a `jest-pretest.ts` file which adds some DOM polyfils for node:

[code]
I had a look at `aurelia-pal-nodejs` and found [this](https://github.com/aurelia/pal-nodejs/blob/master/src/nodejs-dom.ts)
shouldn't the `getRootNode` polyfill be included here?

or is that abstraction just for the things that aurelia needs?

[2022-05-19 22:53] bigopon commented on #102
That could possibly be the case. Maybe it should. Can you try add that in your local `node_modules` and see if the error goes away?